.company {
    background: url($img_photo + "company_bak.jpg") no-repeat center center/cover;
    padding: 40px 0;
    
    &__wrapper {
        max-width: 764px;
        margin: 0 auto;
        box-shadow: 17px 17px 40px rgba(0,0,0,.14);
        background: $mainColor;
        padding: 111px 111px 84px;
        color: $white;
        @include tb {
            max-width: initial;
            padding: 16%;
        }
    }
    &__txt {
        margin: 92px 0 56px;
        font-size: 2rem;
        line-height: 2.1;
        @include tb {
            margin: 30px 0 20px;
        }
    }
    .brand-logo {
        background: $white;
        padding: 17px;
        img {
            margin: 0 auto;
        }
    }
}