.culture {
    background: url($img_icon + "dot.png");
}
.culture-head {
    background: url($img_photo + "culuture.jpg") no-repeat center center;
    padding: 57px 0 180px;
    @include tb {
        background-position: -240px;
    }
    &__wrap {
        max-width: 1050px;
        margin: 0 auto;
    }
    .g-ttl,.g-txt {
        text-align: left;
    }
    .skew-txtBox__wrap {
        text-align: left;
    }
}

.contest {
    max-width: 1050px;
    margin: 90px auto 0;
    &__ttl {
        font-size: 3.4rem;
        text-align: center;
        letter-spacing: 0.24em;
        line-height: 1.6;
        margin-bottom: 42px;
        font-family: 'Reimin Bold','Hiragino Mincho ProN', '游明朝' , sans-serif;
    }
}
