.header {
    background: $white;
    box-shadow: 0 0 3px rgba(0,0,0,.14);
    padding: 11px 0;
    position: relative;
    @include tb {
        padding: 21px 0;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    @include sp {
        padding: 7px 0;
    }
    .logo {
        width: 230px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        @include tb {
            width: 150px;
            padding: 0;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        @include tb {
            padding-left: 10px;
        }
    }
    .sp-menu {
        display: none;
        @include tb {
            display: block;
        }
    }
}
.g-nav {
    display: flex;
    @include tb {
        display: none;
    }
    &__item {
        transition: 0.3s ease;
        &:hover {
            opacity: 0.5;
        }
    }
    &__wrapper {
        display: flex;
        width: 370px;
        justify-content: space-between;
        margin-right: 50px;
        line-height: 2.6;
    }
    &__jp {
        display: block;
        color: $gray;
        letter-spacing: 0.04em;
        margin-top: -18px;
        font-size: 1.1rem;
    }
    .entry-btn {
        margin: -11px 0;
        a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: $mainColor;
            color: $white;
            padding: 0 2.9vw;
            font-size: 2rem;
            font-weight: bold;
            transition: 0.3s ease;
            &:hover {
                background: lighten($mainColor,15%);
            }
        }
    }
}

.entry-sideBtn{
    a{color: $white;}
    background: $mainColor;
    width: 70px;
    height: 260px;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom:0;
    top:0;
    margin: auto;
    writing-mode: vertical-rl;
    transform: translateX(70px);
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 10;
    @include tb {
        transform: translateX(0);
        position: absolute;
        top: 0;
        right:0;
        writing-mode: horizontal-tb;
        width: 220px;
        padding: 10px;
        line-height: 1.2;
        font-size: 2rem;
        text-align: center;
        height: 100%;
    }
    @include sp {
        width: 120px;
    }
    &:hover {
        background: lighten($mainColor,15%);
    }
}