.main-visual {
    background: url($img_photo + "main-visual.jpg") no-repeat;
    &__wrapper {
        max-width: 1200px;
        position: relative;
        margin: 0 auto;
        padding: 0 0 8vw;
        @include pc {
            height: 85vh;
            padding: 0;
        }
        @include sp {
            height: 89vh;
            padding: 11vw 0 1vw;
        }
    }
    &__catch {
        @include pc {
            width: 35%;
            margin-left: 100px;
        }
        @include tb {
            width: 60vw;
            transform: translate(-150px,0);
        }
        @include sp {
            width: 80%;
            margin-left: 0;
            transform: translate(-78px, -58px);
        }
    }
    &__photo {
        position: absolute;
        bottom: -1px;
        right: -2%;
        @include pc {
            width: 50%;
            margin-right: 5%;
        }
        @include tb {
            width: 70vw;
        }
        @include sp {
            width: 107%;
            margin-right: -19%;
        }
    }
    &__video {
        position: absolute;
        bottom: 90px;
        cursor: pointer;
        right: 0;
        box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.34);
        transition: 0.3s ease;
        &:hover {
            transform: translateY(-4px);
            box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.54);
            opacity: 0.9;
        }
        @include pc {
            width: 33%;
            margin-right: 7%;
        }
        @include tb {
            width: 55%;
        }
        @include sp {
            bottom: 60px;
    right: 0;
    margin: 0;
    width: 71%;
        }
    }
    &__scroll {
        position: absolute;
        bottom:0;
        left:0;right:0;
        margin: 0 auto;
        transform: translateY(-15px);
        @include sp {
            bottom: -5px;
            transform: none;
            padding-bottom: 10px;
        }
        a {
            display: block;
            text-align: center;
            color: $white;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.8;
            }
        }
        span {
            display: block;
            margin-top: -15px;
        }
        img {
            margin: 0 auto;
            @include pc {
                width: 2.5%;
                transform: translateY(-3px);
            }
            @include sp {
                width: 6%;
                margin-bottom: 4px;
            }
        }
    }
}