// ====================
// inner余白
// ====================
.inner {
    // ニュース
    &--news {
        margin: 134px 0 0 0;
    }
    // アクセス
    &--access {
        margin: 40px 0;
        padding: 120px 0 104px;
    }
    // お問い合わせ
    &--contact {
        padding: 80px 0 29px 0;
        margin-top: 0;
        .btn--important1 {
            margin: 34px 0 0 0;
        }
        .btn--important2 {
            margin: 7px 0 0 0;
        }
    }
}


// アクセスボタン
.inner--access {
    .btn--normal {
        margin-top: 35px;
        @include tb {
            margin-top: 80px;
        }
    }
}
.inner--place, .inner--plan {
    .btn--normal {
        @include tb {
            margin-top: 100px;
        }
    }
}
// ====================
// 新着情報ボタン
// ====================
.news-link {
    margin: 35px 0 0 0;
}
