/* ----------- ttl ----------- */
@mixin global_ttl($w) {
    &__ttl {
        font-size: 5.2rem;
        line-height: 1.1em;
        max-width: $w;
        margin: 0 auto;
        padding: 167px 0 110px;
        &::after {
            content: "";
            display: block;
            max-width: 67px;
            height: 7px;
            background: $main_color_dark;
            border-radius: 25px;
            margin: 20px auto 0;
        }
        &__small {
            display: block;
            font-size: 3rem;
        }
        &__middle {
            font-size: 4.2rem;
        }
    }
}

/* ----------- merit_item ----------- */
@mixin merit_item($img){
        flex: 0 1 220px;
        font-size: 2.2rem;
        text-align: center;
        &::before {
            content: "";
            display: block;
            max-width: 176px;
            height: 178px;
            background: url($IMG_FARMER + $img) no-repeat;
            margin: 0 auto 24px;
        }
}

/* ----------- to-farmer_item ----------- */
@mixin to-farmer_item($color,$m) {
    &__wrapper {
        max-width: 1000px;
        margin: 0 auto;
        padding: 75px 0 80px 0;
    }
    &__wrap {
        max-width: 455px;
        margin: $m;
    }   
    &__ttl {
        font-size: 2.8rem;
        max-width: 280px;
        color: $color;   
    }
    &__text {
        font-weight: normal;
        line-height: 1.8em;
        margin: 20px 0 0;
    }
    &__link {
        display: block;
        color: $pale_color;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 20px 0 0 0;
    }
}

@mixin step($order,$color) {
    display: flex;
    justify-content: space-between;
    margin: 0 0 98px 0;
    &__wrap {
        flex: 0 1 394px;
    }
    &__image {
        flex: 0 1 391px;
        order: $order;
    }
    &__ttl {
        color: $font_color;
        font-size: 3.2rem;
        font-weight:normal;
    }
    &__en {
        display: block;
        font-size: 1.6rem;
        max-width: 69px;
        text-align: center;
        color: $color;
        
    }
    &__circle {
        display: inline-block;
        width: 67px;
        height: 67px;
        background: $color;
        border-radius: 50%;
        font-size: 3.2rem;
        color: $none_color;
        line-height: 67px;
        text-align: center;
        margin: 0 3px 0 0;
    }
    &__desc {
        line-height: 1.8em;
        font-weight: normal;
        margin: 25px 0 0 0;
    }
}


/* ----------- checkBtn ----------- */
@mixin farmer-checkBtn ($w,$h,$color) {
    display: block;
    max-width: $w;
    height: $h;
    color: $none_color;
    text-align: center;
    line-height: 45px;
    background: $color;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.14);
    margin: 0 auto 0;
    padding: 0 44px 0;
    position: relative;
    transition: 0.7s ease;
    &::after {
        content: "";
        display: inline-block;
        background: url($IMG_GLOBAL + "btn_arrow.svg") no-repeat;
        width: 18px;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 16px;
    }  
    &:hover {
        opacity: 0.7;
    }
}