@charset "utf-8";
/* main_color */
$font_color: #333333;
$heading_color: #222222;
$bak_color: #fffddc;
$main_color: #a6cc69;
$main_color_dark: #75aa37;
$assort_color: #f4b436;
$accent_color: #f15f7a;
$none_color: #fff;
$separaiton_color: #deb46a;
$pale_color: #878787;


$IMG_GLOBAL: "../../images/global_i/";
$IMG_VEGE: "../../images/vegetable_i/";
$IMG_PHOTO: "../../images/photo/";
$IMG_FARMER: "../../images/farmer_support/";