
/* ----------- global ----------- */
html * ,
::before ,
::after {
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, YakuHanJP,"Helvetica Neue", "Segoe UI","Hiragino Kaku Gothic ProN","游ゴシック Medium", "Yu Gothic Medium",  Meiryo, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: $font_color;
    background: $none_color;
}

::first-letter {
    font-feature-settings : "palt" 1;
}
a {    
    text-decoration: none;
    font-weight: bold;
    color: $font_color;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,ol,li {
    list-style: none;
    margin:0;
    padding: 0;
}

:focus {
    outline: 0;
    border: 0;
}

.none {
    display: none;
}

.mainColor {
    color: $main_color;
}
.mainColorDark {
    color: $main_color_dark;
}
.assortColor{
    color: $assort_color;
}
.accentColor{
    color: $accent_color;
}
.separationColor {
    color: $separation_color;
}
.separationColor2 {
    color: $separation_color2;
}
.noneColor {
    background: $none_color
}
.fontColor {
    background: $font_color;
}

/* ----------- header ----------- */
.header {
    background: $none_color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    &__container {
        max-width: 940px;
        height: 75px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        flex: 0 1 236px;
        transition: 0.4s ease;
        &:hover {
            opacity: 0.7;
        }
    }
    &-nav {
        flex: 0 1 567px;
        &__wrapper {
            display: flex;
            text-align: center;
            line-height: 1em;
        }
        &__en {
            font-size: 1.2rem;
        }
        &__list {
            transition: 0.4s ease;
            &:hover {
                transform: translateY(-3px);
                opacity: 0.7;
            }
        }
    }
}

/* ----------- main-visual ----------- */
.main-visual {
    background: url($IMG_ABOUT + "about_mainVisual.jpg") no-repeat center center/cover;
    padding: 44px 0;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 99px;
        height: 99px;
        background: url($IMG_GLOBAL + "square_white.svg") no-repeat;
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        top: 75px;
    }
    &::after {
        content: "";
        display: block;
        width: 99px;
        height: 99px;
        background: url($IMG_GLOBAL + "square_white.svg") no-repeat;
        
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__wrapper {
        max-width: 950px;
        margin: 75px auto 0;
        background: $none_color;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 63px 0 45px;
        position: relative;
    }
    &__ttl {
        font-size: 3.2rem;
        color: $accent_color;
        display: flex;
        justify-content: center;
        margin: 0 0 44px 0;
    }
    &__link-icon {
        width: 25px;
        height: 13px;
        transform: translateY(18px);
        display: inline-block;
        margin: 0 7px;
    }
    &__catch {
        font-size: 1.4rem;
        color: $font_color_pale;
        letter-spacing: 4px;
        order: -1;
        text-align: center;
    }
    &__logo {
        width: 327px;
        margin: 0 auto;
        transform: translateX(-5px) translateY(-15px);
    }
    &__text {
        letter-spacing: 2px;
        background: $main_color;
        color: $none_color;
        max-width: 463px;
        text-align: center;
        padding: 4px 20px;
        margin: 15px auto 46px;
    }
    &__scroll {
        font-size: 1.8rem;
        text-align: center;
        max-width: 72px;
        margin: 0 auto;
        position: absolute;
        bottom: 27px;
        left: 0;
        right: 0;
        cursor: pointer;
        a {
            color: $accent_color;
            transition: 0.4s ease;
                &::after {
                content: "";
                display: block;
                max-width: 40px;
                height: 40px;
                border-radius: 50%;
                background: url($IMG_GLOBAL + "arrow_square.svg") no-repeat center center/ 23px 15px $accent_color;
                box-shadow: 4px 0 8px rgba(0, 0, 0, 0.4);
                transform: rotate(90deg);
                margin: 0 auto;
                transition: 0.4s ease;
            }
        }
        &:hover a {
            text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.12);
        }
        &:hover a::after{
            background-position: 13px 13px;
        }

    }
}
@keyframes scroll_icon_scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* ----------- about ----------- */
.about {
    background: url($IMG_ABOUT + "dish_wood_vege_bak.jpg") no-repeat center center/cover;
    padding: 133px 0 170px;
    margin: 90px 0 0 0;
    &__container {
        max-width: 450px;
        margin: 0 auto;
        transform: translateY(20px);
    }
    &__ttl {
        font-size: 6rem;
        color: $accent_color;
        letter-spacing: 3px;
        line-height: 0.9em;
        text-align: center;
        
    }
    &__sub-ttl {
        display: block;
        font-size: 2rem;
        letter-spacing: 1px;
        color: $font_color;
        &::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 3px;
            background: $separation_color2;
            transform: translateX(-13px) translateY(-5px);
        }
        &::after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 3px;
            background: $separation_color2;
            transform: translateX(13px) translateY(-5px);
        }
    }
    &__desc {
        font-weight: normal;
        text-align: center;
        line-height: 2.3em;
        margin: 80px 0 0;
    }
}

/* ----------- concept ----------- */
.concept {
    @include global_ttl("wood_cook_bak.jpg");
    &__container {
        margin: 170px 0 0;
    }
    &__wrapper {
        max-width: 890px;
        margin: 0 auto;
        padding: 150px 0 0 0;
    }
}
.meaning {
    @include concept-item($main_color_dark,1);
}
.reason {
    @include concept-item($separation_color2,-1);
    margin: 121px 0 0 0;
}
.sdgs {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 180px;
    margin: 13px 0 0 0;
    &__sdgs13,&__sdgs12 {
        flex: 0 1 33px;
    }
    &__text {
        font-size: 1.4rem;
        font-weight: normal;
        transform: translateY(-2px);
    }
}
.purpose {
    margin: 113px 0 0 0;
    padding: 72px 0 40px;
    background: $bak_color;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 827px;
        margin: 0 auto;
        
    }
    &__wrap {
        flex: 0 1 500px;
    }
    &__ttl {
        font-size: 3.2rem;
        color: $assort_color;
        margin: 0 0 33px 0;
        vertical-align: -7px;
        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 40px;
            background: $assort_color;
            margin: 0 22px 0 0;
        }
    }
    &__desc {
        font-weight: normal;
        line-height: 2.5em;
    }
    &__image {
        flex: 0 1 286px;
    }
}

.about-checkBtn__link {
    @include about-checkBtn(212px,45px,$main_color);
}

/* ----------- merit ----------- */
.merit {
    @include global_ttl("farm_bak.jpg");
    margin: 175px 0 0 0;
    &__container {    
        
    }
}
.point-one {
    @include point(1,180px);
}
.point-two {
    @include point(-1);
}
.point-three {
    @include point(1);
    
}

/* ----------- go-page ----------- */
.go-page {
    background: $bak_color;
    padding: 26px 0;
    &__container {
        max-width: 970px;
        margin: 0 auto;
        display: flex;
    }
    &__wrap {
        flex: 0 1 500px;
        padding: 56px 0 55px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    &__ttl {
        font-size: 2.8rem;
        line-height: 1.7em;
    }
    &__sub-ttl {
        order: -1;
        font-weight: normal;
        margin: 0 0 24px 0;
    }
    &__image {
        flex: 0 1 470px;
        order: -1;
        img {
            box-shadow: 8px 8px 29px rgba(202,139,78,0.22);
        }
    }
    .about-checkBtn__link{
        @include about-checkBtn(220px, 45px,$main_color,60px);
    }
}

/* ----------- features ----------- */
.features {
    @include global_ttl("digital_bak.jpg");
    &__wrapper {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.farmer-favorite {
    @include features_item($assort_color,"farmer_fav_i_yellow.svg", 54px center/98px);
}
.regularly {
    @include features_item($main_color_dark,"cart_i_green.svg", 42px 61px/95px);   
}
.sale-news {
    @include features_item($accent_color,"pc.svg", 32px 0px/126px);
}
.about-symbol {
    margin: 120px 0 0;
    padding: 95px 0 60px;
    background: url($IMG_ABOUT + "cafe_bak.jpg") no-repeat center center/cover;
    &__ttl {
        font-size: 3.2rem;
        color: $none_color;
        max-width: 348px;
        padding: 5px 0;
        border-radius: 100px;
        background: $main_color_dark;
        margin: 0 auto;
        text-align: center;
    }
    &__image {
        max-width: 210px;
        margin: 46px auto;
    }
    &__heading {
        font-size: 2.8rem;
        text-align: center;
    }
    &__desc {
        max-width: 440px;
        line-height: 2em;
        font-weight: normal;
        margin: 10px auto 0;
        text-align: center;
    }
    .about-checkBtn__link{
        @include about-checkBtn(250px, 45px,$main_color,60px);
    }
}


/* ----------- about-event ----------- */
.about-event {
    background: url($IMG_ABOUT + "event_sky_bak.jpg") no-repeat center center/ cover;
    margin: 200px 0 198px 0;
    &::before {
        content: "";
        display: block;
        max-width: 100%;
        height: 11px;
        background: url($IMG_GLOBAL + "repeat_square.svg") repeat-x;
        transform: translateY(-20px);
    }
    &::after {
        content: "";
        display: block;
        max-width: 100%;
        height: 11px;
        background: url($IMG_GLOBAL + "repeat_square.svg") repeat-x;
        transform: translateY(20px);
    }
    &__container {
        padding: 70px 0;
        position: relative;
        overflow: hidden;
    }
    &__ttl {
        font-size: 6rem;
        color: $accent_color;
        letter-spacing: 3px;
        line-height: 0.9em;
        text-align: center;
        
    }
    &__sub-ttl {
        display: block;
        font-size: 2rem;
        letter-spacing: 1px;
        color: $font_color;
        
        &::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 3px;
            background: $main_color_dark;
            transform: translateX(-13px) translateY(-5px);
        }
        &::after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 3px;
            background: $main_color_dark;
            transform: translateX(13px) translateY(-5px);
        }
    }
}

.about-event__wrapper {
    position: relative;
    max-width: 1000px;
    margin: 75px auto 0;
}
.about-farmer-support {
    @include about-event_item();      
}
.about-junior {
    @include about-event_item();   
}
.about-festival {
    @include about-event_item();
}
.slick-prev {
    @include about-event-btn(180deg,left,0 -2px);
    &::before {
        display: none;
    }
}
.slick-next {
    @include about-event-btn(0,right,0 2px);
    &::before {
        display: none;
    }
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: url(../../images/global_i/arrow_square.svg) no-repeat center center/15px 26px #de6a7c;
}

.slick-dots {
    bottom: -45px;
    li {
        margin: 0 20px;
        button {
            
            &::before {
                opacity: 1;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $none_color;
                color: transparent;
            }
        }
    }
}
.slick-dots li.slick-active button {
    background: $font_color;
    border-radius: 50%;
    &::before {
        background: none;
        color: transparent;
    }
    
}

/* ----------- go-page-footer ----------- */
.go-page-footer {
    background: url($IMG_ABOUT +  "use_site_bak.jpg") no-repeat center center/cover;
    margin: 0 0 120px 0;
    &__container {
        color: $none_color;
        padding: 102px 0 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 574px;
    }
    &__ttl {
        font-size: 4.5rem;
        order: 1;
        line-height: 1.5em;
    }
    &__sub-ttl {
        font-size: 3.2rem;
        font-weight: normal;
        transform: translateY(5px);
        text-align: center;
        letter-spacing: 2px;
    }
    .about-checkBtn {
        padding: 0 0 46px 0;
    }
}
