// ---------------------------------
//
// mypage's style sheet
//
// ---------------------------------

.mypage {
    &__container {
        // ----- main__container overwrite ----- //
        height: auto;
        @include sp-side {
            width: 100%;
        }
        @include tb {
            display: flex;
            flex-direction: row;
        }
    }
    &__desc {
        font-size: 1.4rem;
        color: $white;
        margin: 46px 0 14px 0;
        text-align: center;
    }
    .my-barcode {
        margin-top : 26px;
    }

    // ----- content-box overwrite ----- //
    .content-box {
        margin-bottom: -63px;
        @include tb {
            margin-bottom: 0;
        }
    }

    // ----- profile & status ----- //
    &__wrapper {
        margin: 103px 0 0 0;
        @include tb {
            height: 100%;
            flex: 1 1 auto;
            margin: 0;
        }
    }

    // ----- Sentence overwrite ----- //
    .home__ttl {
        @include tb {
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 0.77;
            position: absolute;
            left: 10px;
            top: 20px;
        }
    }
}

// ---------------------------------
// Profile style
// ---------------------------------
.profile {
    &__wrap {
        display: flex;
        align-items: center;
        margin: 27px 0 0 0;
        padding: 0 0 20px 0;
        border-bottom: solid 1px #f3f3f3;
        @include sp-side {
            width: 93%;
            margin: 27px auto 0;
        }
    }
    &__icon {
        width: 49px;
        height: 49px;
        border-radius: 25.2px;
        background-color: #e7d4a1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px 0 24px;
    }
    &__name {
        font-size: 1.8rem;
        font-weight: 700;
        color: $black;
    }

    // ----- Sentence overwrite ----- //
    .sub-ttl {
        border-radius: 0 10px 0 0;
    }
}

// ---------------------------------
// category-detail style
// ---------------------------------
.category-detail {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    align-items: center;
    padding: 26px 30px;
    border-bottom: solid 1px #f3f3f3;
    @include sp-side {
        width: 93%;
        margin: 0 auto;
    }
    &--blue {
        color: #6a9dd4;
    }
    &--red {
        color: #cc6969;
    }
    &__img {
        width: 44px;
        height: 44px;
        opacity: 0.49;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &--blue {
            background: #ebf3f6;
        }
        &--red {
            background: #f6ebeb;
        }
    }
    &__ttl {
        font-size: 1.4rem;
        line-height: 0.93;
        font-weight: 300;
    }
    &__data {
        font-size: 1.8rem;
    }
    &__num {
        font-size: 2.5rem;
    }
    &__small {
        font-size: 1.3rem;
    }
}
