.fs14 {
    font-size: 1.4rem;
}
.fs18 {
    font-size: 1.8rem;
}
.fs32 {
    font-size: 3.2rem;
}
.lh100 {
    letter-spacing: 0.1em;
}

.subColor-num {
    font-size: 2.6rem;
    color: $subColor;
}