.section {
    margin: 20px 0 0 0;
    padding: 111px 0 0 0; 
    @include sp {
        padding: 30px 0 0 0;
    }
}

// sectionクラス共有のpaddingから解除
.company {
    padding: 40px 0;
    @include sp {
        padding: 3%;
    }
}
.about {
    padding: 0;
}
.philosophy {
    .skew-txtBox {
        margin-bottom:130px;
        @include sp {
            margin-bottom: 50px;
        }
    }
}
.culture {
    padding: 0 0 100px 0;
    margin: 180px 0 0 0;
}