.g-ttl {
    font-size: 6rem;
    color: $mainColor;
    text-align: center;
    @include tb {
        text-align: center!important;
    }
}
.g-txt {
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    font-weight: normal;
    margin-top: -13px;
    color: $mainColor;
    text-align: center;
    @include tb {
        text-align: center!important;
        margin-top: -5px;
    }
}
.skew-txtBox__wrap {
    text-align: center;
    @include tb {
        text-align: center!important;
    }
}
.skew-txtBox {
    background: $black;
    color: $white;
    padding: 0 60px;
    display: inline-block;
    font-size: 2.4rem;
    letter-spacing: 0.06em;
    text-align: center;
    transform: skew(-20deg);
    margin: 44px auto 0;
    @include tb {
        padding: 0 30px;
    }
    span {
        display: block;
        transform: skew(10deg);
    }
}