
// スキルゲージ
@keyframes photoshop {
    0% { width: 0; }
    100% { width: 78%; }
}
@keyframes illustrator {
    0% { width: 0; }
    100% { width: 74%; }
}
@keyframes xd {
    0% { width: 0; }
    100% { width: 95%; }
}
@keyframes sketch {
    0% { width: 0; }
    100% { width: 50%; }
}
@keyframes html {
    0% { width: 0; }
    100% { width: 90%; }
}
@keyframes scss {
    0% { width: 0; }
    100% { width: 94%; }
}
@keyframes pug {
    0% { width: 0; }
    100% { width: 45%; }
}
@keyframes js {
    0% { width: 0; }
    100% { width: 25%; }
}
@keyframes jquery {
    0% { width: 0; }
    100% { width: 15%; }
}
@keyframes vue {
    0% { width: 0; }
    100% { width: 5%; }
}
@keyframes firebase {
    0% { width: 0; }
    100% { width: 0; }
}
@keyframes php {
    0% { width: 0; }
    100% { width: 34%; }
}
@keyframes mysql {
    0% { width: 0; }
    100% { width: 10%; }
}
@keyframes wp {
    0% { width: 0; }
    100% { width: 25%; }
}
@keyframes git {
    0% { width: 0; }
    100% { width: 45%; }
}
@keyframes gulp {
    0% { width: 0; }
    100% { width: 25%; }
}


.skill-list {
    &__bar > span {
        animation-fill-mode: forwards;
    }
    &__photoshop {
        animation: photoshop 4s ease;
    }
    &__illustrator {
        animation: illustrator 4s ease;
    }
    &__xd {
        animation: xd 4s ease;
    }
    &__sketch {
        animation: sketch 4s ease;
    }
    &__html {
        animation: html 4s ease;
    }
    &__scss {
        animation: scss 4s ease;
    }
    &__pug {
        animation: pug 4s ease;
    }
    &__js {
        animation: js 4s ease;
    }
    &__jquery {
        animation: jquery 4s ease;
    }
    &__vue {
        animation: vue 4s ease;
    }
    &__firebase {
        animation: firebase 4s ease;
    }
    &__php {
        animation: php 4s ease;
    }
    &__mysql {
        animation: mysql 4s ease;
    }
    &__wp {
        animation: wp 4s ease;
    }
    &__git {
        animation: git 4s ease;
    }
    &__gulp {
        animation: gulp 4s ease;
    }
}

// スライドアニメーション
.slide-text {
    display: inline-block;
    position: relative;
    &::before {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: $main_color;
        animation-name: in, out;
        animation-duration: .5s;
        animation-delay:0s,.5s;
        animation-timing-function: cubic-bezier(.75,0,.2,1);
        animation-fill-mode: backwards,forwards;
        z-index: 10;
    }
}
.slide-text__inner {
    animation-name: show;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
}
.inview__inner {
    opacity: 0;
}
@keyframes in {
    0% {
        transform-origin: 0 0;
        transform:scale3d(0,1,1);
    }
    100% {
        transform-origin: 0 0;
        transform: scale3d(1,1,1);
    }
}
@keyframes out {
    0% {
        transform-origin: 100% 0;
        transform: scale3d(1,1,1);
    }
    100% {
        transform-origin: 100% 0;
        transform: scale3d(0,1,1);
    }
}
@keyframes show {
    0%,50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// リストアップアニメーション
.listup-item {
    opacity: 0;
}
.listup-item {
    &1,&2,&3 {
        animation-name: listup;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    &1 {animation-delay: 1s;}
    &2 {animation-delay: 1.2s;}
    &3 {animation-delay: 1.4s;}
}
@keyframes listup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// スライドアップ
[class*="slideup"],
[class*=" slideup"] {
    opacity: 0;
    transform: translateY(100px);
}
[class*="slideup-anime--delay"],
[class*=" slideup-anime--delay"] {
    animation-name: slideup;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.slideup-anime--delay02 { animation-delay: 0.2s; }
.slideup-anime--delay04 { animation-delay: 0.4s; }
.slideup-anime--delay06 { animation-delay: 0.6s; }
.slideup-anime--delay09 { animation-delay: 0.9s; }
@keyframes slideup{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// スライド右
[class*="slideright"],
[class*=" slideright"] {
    opacity: 0;
    transform: translateX(-100px);
}
[class*="slideright-anime--delay"],
[class*=" slideright-anime--delay"] {
    animation-name: slideright;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.slideright-anime--delay02 { animation-delay: 0.2s; }
.slideright-anime--delay09 { animation-delay: 0.9s; }
.slideright-anime--delay13 { animation-delay: 1.3s; }
.slideright-anime--delay18 { animation-delay: 1.8s; }
@keyframes slideright{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}