
/* --------------------------- circle ------------------------------- */

/* -------------- TOP - main-visual ------------------ */
.main-visual {
    &__logo {
        position: relative;
        @include pc {
            width: 420px;
        }
        @include after {
          background: url($img + "deco-many_circle02.svg") no-repeat;
          width: 136px;
          height :204px;
          position: absolute;
          top: 60px;
          right: -160px;
        }
    }
    &__main-circle {
      position: relative;
      &::before {
          @include circle();
          top: 578px;
          left: 27px;
          box-shadow: 0 3px 15px $main_color;
      }
      &::after {
          @include circle(12px,12px,$accent_color);
          box-shadow: 0 3px 6px $accent_color;
      }
    }
    &__sub-txt { 
      position: relative;
      // @include before {
      //     background: url($img + "deco-many_circle01.svg") no-repeat;
      //     width: 322px;
      //     height :163px;
      //     position: absolute;
      //     top: 170px;
      //     left: 380px;
      // }
      &::after {
          @include circle(24px,24px,$main_color);
          top: 160px;
          right: 0;
          box-shadow: 0 3px 15px $main_color;
      }
    }
  }
  /* -------------- update ------------------ */
  .logo-desc {
    &__txt {
      position: relative;
      &::before {
        @include circle(32px,32px,$main_color);
        box-shadow: 0 3px 15px $main_color;
        top: 90px;
        left: -30px;
      }
      &::after {
        @include circle(12px,12px,$accent_color);
        box-shadow: 0 3px 6px $accent_color;
        top: 50px;
        left: 30px;
      }
    }
    &__list {
      position: relative;
      @include before {
        background: url($img + "deco-many_circle01.svg") no-repeat;
        width: 322px;
        height :163px;
        position: absolute;
        top: 160px;
        right: -300px;
    }
    }
    &__desc {
      position: relative;
      &::before {
        @include circle(22px,22px,$main_color);
        bottom: -20px;
        left: -100px;
      }
      &::after {
        @include circle(12px,12px,$accent_color);
        bottom: -40px;
        left: -140px;
      }
    }
  }
  /* -------------- top-profile ------------------ */
  .top-profile__left {
    position: relative;
    &::before {
      @include circle(22px,22px,$main_color);
      box-shadow: 0 3px 15px $main_color;
      top: -200px;
      left: 100px;
    }
    &::after {
      @include circle(12px,12px,$main_color);
      box-shadow: 0 3px 6px $main_color;
      top: -160px;
      left: 140px;
    }
  }
  .top-me {
    &__name {
      position: relative;
      @include after {
        background: url($img + "deco-many_circle03.svg") no-repeat;
        width: 182px;
        height :245px;
        position: absolute;
        top: -20px;
        right: -150px;
      }
    }
  }

/* -------------- top-works ------------------ */
.top-works {
    .medium-ttl {
        position: relative;
        @include after {
            background: url($img + "deco-many_circle01.svg") no-repeat;
            width: 302px;
            height: 295px;
            position: absolute;
            top: -160px;
            right: 30px;
            transform: rotate(10deg);
        }
    }
}

/* -------------- top-blog ------------------ */
.top-blog {
    &__container {
        position: relative;
        &::before {
            @include circle(22px,22px,$main_color);
            top: 0px;
            left: 260px;
            box-shadow: 0 3px 15px $main_color;
        }
        &::after {
            @include circle(10px,10px,$accent_color);
            top: 40px;
            left: 300px;
            box-shadow: 0 3px 15px $main_color;
        }
    }
}
  /* -------------- top-study-room ------------------ */
  .top-study-room {
    &__txt {
      position: relative;
      // @include before {
      //   background: url($img + "deco-small_circle1.svg") no-repeat;
      //   width: 412px;
      //   height: 185px;
      //   position: absolute;
      //   top: -340px;
      //   right: -130px;
      // }
      // @include after {
      //   background: url($img + "deco-many_circle04.svg") no-repeat;
      //   width: 302px;
      //   height: 295px;
      //   position: absolute;
      //   bottom: -320px;
      //   left: 30px;
      // }
    }
  }


/* -------------- 下層ページ共通 ------------------ */
.main-visual--sub {
    position: relative;
    &__wrapper {
      position: relative;
      &::before {
        @include circle(22px,22px,$main_color);
        top: -130px;
        left: -230px;
        box-shadow: 0 3px 15px $main_color;
      }
      @include after {
        background: url($img + "deco-many_circle01.svg") no-repeat;
        width: 322px;
        height :163px;
        position: absolute;
        bottom: -230px;
        right: -440px;
      }
    }
    &::before {
        @include circle(25px,25px,$main_color);
        left: 200px;
        bottom: 110px;
        box-shadow: 0 3px 15px $main_color;
    }
    &::after {
        @include circle(10px,10px,$accent_color);
        bottom: 150px;
    left: 170px;
        box-shadow: 0 3px 6px $accent_color;
    }
    &__ttl {
        position: relative;
        // &::before {
        //     @include circle(22px,22px,$main_color);
        //     top: -130px;
        //     left: -230px;
        //     box-shadow: 0 3px 15px $main_color;
        // }
        &::after {
            @include circle(8px,8px,$accent_color);
            top: -110px;
            left: -320px;
            box-shadow: 0 3px 6px $accent_color;
        }
    }
    &__txt {
        position: relative;
        // @include before {
        //     background: url($img + "deco-many_circle01.svg") no-repeat;
        //     width: 322px;
        //     height :163px;
        //     position: absolute;
        //     bottom: -350px;
        //     right: -770px;
        // }
        &::after {
            @include circle(22px,22px,$main_color);
            top: 280px;
            right: -530px;
            box-shadow: 0 3px 15px $main_color;
        }
    }
}