// sns
.sns-list {
    display: flex;
    margin: 44px 0 0 0;
    &__item {
        margin-right: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}

// メールアドレス
#mailBtn {
    cursor: pointer;
    a {
        pointer-events: none;
    }
}
.mail-address {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 472px;
    padding: 20px 0;
    background: $main_color;
    color: $white;
    box-shadow: 0 3px 20px rgba(0,0,0,.14);
    z-index: 10;
    &__wrap {
        text-align: center;
    }
    &__cross {
        position: absolute;
        top: -14px;
        right: -14px;
        padding: 10px;
        max-width: 40px;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}

// 得意分野
.good-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 620px;
    color: #7C7C7C;
    @include pc {
        max-width: 504px;
    }
    &__item {
        width: 48%;
        font-size: 1.6rem;
        @include pc {
            font-size: 1.4rem;
        }
    }
}

// ブログ記事
.blog-item {
    width: 31%;
    transition: 0.3s ease;
    a { display: block }
    &:hover {
        background: #0E4EB7;
        box-shadow: 0 3px 20px #0040AA;
        transform: translateY(-4px);
    }
    &__wrap {
        max-width: 95%;
        margin: 0 auto;
        padding: 10px 0 25px;
        @include pc {
            padding: 10px 0 25px;
        }
    }
    
    &__ttl,&__txt,&__time {
        padding-left: 10px;
    }
    &__time {
        margin: 8px 0 0 0;
        font-size: 1.4rem;
        color: $white;
        opacity: 0.3;
        letter-spacing: 0.1em;
        font-family: $font2;
    }
    &__ttl {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__txt {
        font-size: 1.4rem;
        line-height: 1.8;
        max-width: 275px;
        margin: 10px 0 0 0;
    }
}

// 原動力
.type-list {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    height: 800px;
    @include pc {
        max-width: auto;
    }
}
.type-item {
    max-width: 288px;
    position: absolute;
    @include pc {
        max-width: 258px;
    }
    &__ttl {
        font-size: 1.8rem;
    }
    &__txt {
        color: #9B9B9B;
        line-height: 1.85;
        @include pc {
            font-size: 1.4rem;
        }
        
    }
    @include after {
        position: absolute;
        box-shadow: 0 9px 15px rgba(0,78,255,0.59);
        border-radius: 13px;
    }
    &:nth-of-type(1) {
        text-align: right;
        top: 130px;
        left: 50px;
        @include pc{
            top: 150px;
            left: 20px;
        }
        &::after {
            width: 82px;
            height: 82px;
            right: -113px;
            bottom: 12px;
            background: url($img + "icon-target.svg") center center no-repeat,$main_color;
        }
    }
    &:nth-of-type(2) {
        text-align: right;
        bottom: 240px;
        left: 109px;
        @include pc{
            bottom: 230px;
            left: 59px;
        }
        &::after {
            width: 82px;
            height: 82px;
            right: -113px;
            bottom: 80px;
            background: url($img + "icon-fire.svg") center center no-repeat,$main_color;
            @include pc {
                bottom: 70px;
                right: -103px;
            }
        }
    }
    &:nth-of-type(3) {
        top: 200px;
        right: 25px;
        @include pc {
            top: 220px;
        }
        &::after {
            width: 170px;
            height: 170px;
            left: -210px;
            bottom: -11px;
            background: url($img + "icon-help.svg") center center no-repeat,$main_color;
            @include pc {
                bottom: -38px;
            }
        }
    }
}

// data-dl
.data-dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 0 0;
    & > dt {
        border-bottom: 1px solid #3f3f3f;
        width: 20%;
        padding: 22px 0;
        letter-spacing: 0.2em;
    }
    & > dd {
        width: 75%;
        padding: 22px 0;
        border-bottom: 1px solid #3f3f3f;
        letter-spacing: 0.1em;
    }
    &__inner {
        & + & {
            margin-top: 41px;
        }
        dd {
            opacity: 0.4;
            line-height: 2;
        }
    }
}



// skill-list
.skill-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    &__item {
        width: 30%;
        margin: 20px 0;
        @include pc {
            margin: 14px 0;
        }
    }
    &__bar {
        display: block;
        height: 2px;
        width: 95%;
        margin-top: 10px;
        background: $white;
        & > span {
            display: none;
            height: 2px;
            background: $main_color;
        }
    }
}


// 作品カテゴリー
.work-category {
    display: flex;
    letter-spacing: 0.1em;
    &__item {
        width: 170px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 17px 0 0;
        border: solid 1px #707070;
        transition: 0.3s ease;
        font-size: 1.6rem;
        @include pc {
            width: 150px;
            height: 35px;
        }
    }
    &--more {
        letter-spacing: 0.1em;
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;
        max-width: 500px;
        &__item {
            padding: 0 20px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 15px 10px 0 0;
            transition: 0.3s ease;
            border: solid 1px #707070;
            font-size: 1.6rem;
            @include pc {
                height: 35px;
            }
        }
    }
}
.border--on {
    border: solid 1px #00DEF6;
}
// 作品
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0 0 0;
}
.work-item {
    cursor: pointer;
    a {
        display: block;
        padding: 9px 9px;
        transition: 0.3s ease;
    }
    flex: 0 1 368px;
    margin: 0 0 54px 0;
    @include pc {
        flex: 0 1 310px;
        padding: 11px 8px;
    }
    &--last{
        opacity: 0;
    }
    &:hover {
        a {
            background: #0E4EB7;
            box-shadow: 0 3px 20px #0040AA;
            transform: translateY(-4px);
        }
    }
    &__img {
        max-width: 342px;
        background: $white;
        margin: 0 auto 9px;
        img {
            max-width: 100.4%;
        }
        @include pc {
            max-width: 290px;
        }
    }
    &__ttl,&__info {
        padding-left: 10px;
    }
    &__ttl {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.6;
    }
    &__info {
        opacity: 0.3;
        letter-spacing: 0.1em;
        font-size: 1.4rem;
    }
    &__slash {
        &::before {
            content: "";
            display: inline-block;
            width: 2px;
            height: 12px;
            background: $white;
            margin: 0 5px;
            transform:translateY(2px);
        }
    }
}
/*----------- product.php ---------------*/
// オススメの記事
.recommend-work {
    &__ttl {
        margin: 200px 0 -60px 0;
        padding: 0 0 0 4px;
        font-size :3.5rem;
    }
    .btn-normal {
        margin: 0 auto;
    }
}


/*----------- study room ---------------*/
.study-top {
    margin:0 auto 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    font-weight: 500;
    &__txt {
        font-size: 2rem;
        margin: 20px 0 0 0;
    }
    &__cate-ttl {
        margin: 40px 0 0 0;
        font-size: 2rem;
        text-align: center;
    }
    &__category {
        display: flex;
        justify-content: center;
        li {
            margin-right: 15px;
        }
        a {
            color: $white;
            text-decoration: underline;
            font-size: 1.8rem;
        }
    }
}
.study-info {
    background: #2C2C2C;
    box-shadow: 0 3px 30px rgba(0,0,0,.14);
    width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    @include pc {
        width: 1000px;
    }
    &__figure {
        max-width: 60%;
        margin: 0 auto;
    }
    &__wrap {
        width: 60%;
        margin: 30px auto 10px;
        font-size: 1.9rem;
        display: flex;
    }
    &__detail {
        display: flex;
        margin-left: 60px;
        &:first-child {
            margin-left: 0;
        }
    }
    dt {
        opacity: 0.6;
    }
    dd {
        margin-left: 10px;
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}
#study-info {
    &__ttl {
        font-size: 2.4rem;
        text-align: center;
        margin: 20px 0;

    }
}