.medium-ttl {
    font-size: 6.4rem;
    font-family: $font2;
    letter-spacing: 0.3em;
    height: 130px;
    @include pc {
        height: 110px;
    }
}
.medium-sub-ttl {
    font-size: 2.2rem;
    letter-spacing: 0.3em;
    color: $main_color;
    font-weight: bold;
}


.solid-ttl {
    font-size: 3rem;
    border-bottom: solid 1px $main_color;
    &__en {
        font-size: 1.6rem;
        margin: 0 0 0 23px;
        color: $main_color;
        font-weight: bold;
    }
}

// グラデーション下線
.gradient-bottom {
    font-size: 1.7rem;
    @include pc {
        font-size: 1.4rem;
    }
    @include after {
        margin-top: 3px;
        max-width: 208px;
        height: 3px;
        background: linear-gradient(to right,#0062FF,transparent);
    }
}

.study-ttl {
    font-size: 2.8rem;
}