@charset "utf-8";


/* ----------- about_circle ----------- */
@mixin about-content($img:"onion_bak.jpg",$circle:"pumpkin_circle.png"
,$m:0,$top:220px,$right:-293px) {
        background: url($IMG_JUNIOR + $img) no-repeat center center / cover;
        text-align: center;
        color: $none_color;
        &__wrapper {
            max-width: 835px;
            margin: 0 auto;
            padding: 16px 0 90px;
        }
        &__wrap {
            width: 521px;
            height: 521px;
            background: $main_color1;
            border-radius: 50%;
            padding: 156px 0 160px;
            position: relative;
            margin: $m;
            &::after {
                content: "";
                display: block;
                width: 372px;
                height: 369px;
                background: url($IMG_JUNIOR + $circle) no-repeat;
                position: absolute;
                top: $top;
                right: $right;
            }
        }
        &__ttl {
            max-width: 293px;
            margin: 0 auto;
            font-size: 3.2rem;
            padding: 0 0 6px 0;
            border-bottom: solid 2px $none_color;
        }
        &__text {
            line-height: 1.8em;
            max-width: 382px;
            font-weight: normal;
            margin: 40px auto 0;
        }
}

/* ----------- ttl ----------- */
@mixin global_ttl($w:450px,$pT:155px,$mB:120px) {
        &__ttl {
        font-size: 5.2rem;
        max-width: $w;
        margin: 0 auto $mB;
        text-align: center;
        padding-top: $pT;
        position: relative;
        &::after {
            content: "";
            display: block;
            height: 28px;
            position: absolute;
            bottom: 10px;
            left: 0;
            right:0;
            margin: 0 auto;
            background: $separation_color2;
            z-index: -1;
        }
    }
}

/* ----------- merit-item ----------- */
@mixin merit-item ($num,$color,$order){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 88px 0;
    &__wrap {
        flex: 0 1 379px;
    }
    &__ttl {
        font-size: 2.6rem;
        color: $color;
        &::before {
            content: $num;
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            color: $none_color;
            text-align: center;
            line-height: 45px;
            margin: 0 24px 0 0;
            background: $color;
        }
    }
    &__text {
        line-height: 1.8em;
        font-weight: normal;
        color: $pale_font_color;
        margin: 20px 0 0 0;
    }
    &__image {
        order: $order;
        flex: 0 1 310px;
    }
}

/* ----------- date ----------- */
@mixin date-content($color,$m) {
    flex: 0 1 449px;
    background: $none_color;
    padding: 35px 45px 33px 59px;
    border-radius: 20px;
    &__ttl {
        font-size: 2.6rem;
        color: $color;
        text-align: center;
        margin: 0 0 35px 0;
    }
    &__date , &__place {
        font-size: 2rem;
    }
    &__date__text {
        font-size: 1.8rem;
        font-weight: normal;
        margin: $m;
        color: $pale_font_color;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__place__text {
        font-weight: normal;
        flex: 0 1 208px;
        color: $pale_font_color;
    }
    &__place__note {
        display: block;
        margin: 10px 0 0 0;
        font-size: 1.2rem;
    }
    &__map {
        display: block;
        background: $main_color1;
        flex: 0 1 114px;
        height: 27px;
        text-align: center;
        line-height: 27px;
        color: $none_color;
        border-radius: 50px;
        font-size: 1.4rem;
        box-shadow: 0 3px 5px rgba(0,0,0,0.18);
        cursor: pointer;
        transition: 0.7s ease;
        &:hover {
            opacity: 0.8;
        }
    }
}