body {
    background: url("../img/back.png");
}
/* header */
header {
    background: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}
#head {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1000px;
    font-size: 1.4rem;
}
#logo {
    margin: 0;
    display: flex;
    align-items: center;

}
#login {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
#loginTxt {
    margin: 0 20px 20px 0;
}
#icon {
    border: solid 2px #333;
    border-radius: 4px;
    color: #8dc031;
    font-size: 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40px;
    height: 42px;
}
#logout {
    font-size: 1.0rem;
    font-weight: bold;
}
#logout a:hover {
    opacity: 0.7;
}
/* header */



.wrap{
	background: #fff;
	margin: 100px auto 0;
	width: 530px;
	height: 612px;
	border: solid 2px #6f6f6f;
	border-radius: 20px;
	color: #333333;
	position: relative;
}
/*------------header内css---------------*/
#headWrapper {
	position: relative;	
	
}
#wrapper{
	line-height: 66px;
	width: 530px;
	height: 66px;
	background-color:#8dc031;
	color: #fff;
	border: solid 2px #6f6f6f;
	border-radius: 20px 20px 0 0;
	position: relative;
	top: -3px;
	left: -2px;
}
#wrapper i{
	float: left;
	margin:0 18px 0 52px;
	line-height: 66px;
	font-size: 2em;
}
#wrapper h1{
	font-size: 20px;
	margin: 0;
	border-bottom: 2px solid #6f6f6f;
}
#informationtext{
	position: absolute;
	top: 5px;
	right: 10px;
}
h2{
	width: 233px;
	height: 45px;
	border-top: solid #6f6f6f 2px;
	border-left: solid #6f6f6f 2px;
	border-right: solid #6f6f6f 2px;
	border-radius: 20px 20px 0 0;
	background: #ffffff;
	line-height: 45px;
	font-size: 18px;
	text-align: center;
}
/*------------sectioncss---------------*/
section{
	width: 378px;
	margin: 0 auto;
}
.facialphoto{
	width:144px;
	height:176px;
	border: solid 2px #6f6f6f;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	line-height: 160px;
	color: #7f7f7f;
	float: right;
	margin: 40px 0 0 0;
}
#selectImg {
    width: 126px;
    height: 30px;
    margin: 0 auto;    
}
#selectImg button {
    width: 126px;
    height: 30px;
    border: solid 2px #6f6f6f;
    border-radius: 6px;
    background: #f5f5f5;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
	top: -40px;
	line-height: 20px;
}
#selectImg button:hover {
    background: #e5e5e5;
}
#selectImg i {
    width: 20px;
    height: 20px;
    background: #8dc031;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: relative;
    left: -4px;
}

.name{
	width: 375px;
	height: 60px;
	text-align: center;
	clear: both;
}
.name h3{
	font-size: 16px;
	margin: 38px auto 3px;
}
.nametext{
	width: 378px;
	height: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #cccccc;
}
.gender{
	width: 186px;
	margin: 40px 0 0;
}
.gender h3{
	border-bottom: 1px solid #6f6f6f;
	margin:0 0 10px;
	font-size: 16px;
}
#man_woman {
	display: flex;
	justify-content: space-between;
	width: 120px;
}
.man{
	font-size: 16px;
	color:#3387c0;
}
.woman{
	font-size: 16px;
	color:#da5789;
}
.birthday{
	width: 186px;
	margin: 30px 0 0 0;
	color:#333333;
	font-size: 14px;
}
.birthday h3{
	border-bottom: 1px solid #6f6f6f;
	margin:0 0 10px;
}
#year{
	-webkit-appearance: none;
	width: 48px;
	border-radius: 0px;
	border: none;
	background: none;
	border-bottom: solid 1px black;
	margin-right:7px;
}
#month{
	-webkit-appearance: none;
	width: 16px;
	border-radius: 0px;
	border: none;
	background: none;
	border-bottom: solid 1px black;
	margin-right:4px;
}
#day{
	-webkit-appearance: none;
	width: 16px;
	border-radius: 0px;
	border: none;
	background: none;
	border-bottom: solid 1px black;
	margin-right:4px;
}
.birthday div{
	letter-spacing: 3px;
	text-align:center;
}
.care{
	width: 186px;
	margin: 40px 0 0 0;
	color:#333333;
	font-size: 14px;
}
.care h3{
	margin:0;
	font-size: 16px;
}
.care select{
	border: 2px solid #6f6f6f;
	width: 160px;
}
.comment h3{
	font-size: 16px;
	margin: 25px 0 0;
}
.comment textarea{
	border: solid 2px #6f6f6f;
	width: 282px;
	height:56px;
	border-radius: 4px;
	float: left;
	text-align: center;
	font-size: 1.4rem;
}
.comment textarea {
	outline-offset: 0px;
}
#next{
	clear: both;
	font-size: 5em;
	margin-left: 18px;
	position: relative;
	bottom: 20px;
	color: #da5789;
	display: inline;
	cursor: pointer;
}
#allcircle{
	width:110px;
	height: 16px;
	margin: 0 auto;
	position: relative;
	top: 5px;
	}
.greencircle{
	width: 16px;
	height: 16px;
	border: solid 2px #689d38;
	border-radius: 50%;
	background-color: #689d38;
	float: left;
}
.whietcircle{
	width: 16px;
	height: 16px;
	border: solid 2px #6f6f6f;
	border-radius: 50%;
	float:left;
	margin-left: 25px;
}



#iframe2 {
	width: 545px;
	height: 625px;
	position: absolute;
	top: -4px;
	left: -2px;
	display: none;
}
