@charset "UTF-8";
/* grobal */
html, body {
  background: #fff;
  box-sizing: border-box;
  color: #333;
  color: #333;
  font: normal 62.5% "Lato 400", "Lato", "Hiragino Kaku Gothic ProN", "遊ゴシック Bold", "Yu Gothic Bold", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0; }
  html a, body a {
    color: #333;
    text-decoration: none; }
    html a:hover, body a:hover {
      opacity: 0.7; }
  html ul, html p, body ul, body p {
    list-style: none;
    margin: 0;
    padding: 0; }

.clear {
  clear: both; }

/* humberger-menu */
#spMenu {
  padding-top: 20px;
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  z-index: 10; }
  #spMenu #navToggle {
    background: url("../img/menu.png") no-repeat center center/contain;
    padding: 12px 10px;
    width: 20%;
    height: 20%;
    font-size: 7vw;
    text-align: center;
    position: relative;
    margin: 0 0 0 auto;
    z-index: 10;
    color: #fff; }
  #spMenu #spMenuList {
    background: #3387c0;
    display: none;
    padding: 200px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
    width: 100%;
    height: 100vh; }
    #spMenu #spMenuList > li a {
      font-size: 1.4rem;
      color: #fff;
      display: inline-block;
      padding: 5px 5px;
      margin-bottom: 20px;
      position: relative;
      z-index: -1; }
    #spMenu #spMenuList.open {
      animation: showAni .5s ease 0s 1 normal;
      display: block; }
      #spMenu #spMenuList.open a {
        z-index: 10; }
    #spMenu #spMenuList.close {
      animation: hideAni .5s ease 0s 1 normal;
      opacity: 0;
      display: block; }

@keyframes showAni {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes hideAni {
  from {
    opacity: 1;
    z-index: 1; }
  to {
    opacity: 0;
    z-index: -1; } }
/* main */
main {
  background: url("../img/background.png");
  background-size: contain; }

#container {
  font-size: 1.2rem;
  line-height: 1.9em;
  margin: 200px auto 0;
  width: 80%; }

#top {
  height: 600px; }
  #top #teeth {
    color: #e5b985;
    font-size: 3.6vw;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    text-align: center;
    position: relative; }
    #top #teeth .bold {
      color: #e88e4f;
      font-weight: 900; }
  #top #logo {
    margin-top: 50px;
    position: relative; }
    #top #logo img {
      display: block;
      margin: 0 auto;
      width: 45%; }
  #top #scroll {
    font-size: 0.8vw;
    font-weight: bold;
    margin: 30px auto 0;
    text-align: center;
    position: relative;
    right: 5px;
    width: 140px; }
    #top #scroll::after {
      border-top: 1px solid #333;
      border-right: 1px solid #333;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      left: 65px;
      transform: rotate(135deg);
      width: 5px; }

/* Who is Hiroki Ogura */
#WhoIsOgura .ttl {
  border-bottom: solid 2px #3387c0;
  color: #3387c0;
  font-size: 2.0rem;
  letter-spacing: 0.08em;
  line-height: 1em;
  margin-top: 60px;
  padding-bottom: 5px; }
  #WhoIsOgura .ttl .ttl_block {
    color: #333;
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative; }
    #WhoIsOgura .ttl .ttl_block::before {
      background: #8fcce6;
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 118px;
      height: 2px;
      position: absolute;
      left: 55px;
      top: 7px; }
    #WhoIsOgura .ttl .ttl_block::after {
      background: #8fcce6;
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 118px;
      height: 3px; }
#WhoIsOgura .text {
  padding-left: 5px;
  line-height: 2.1em; }
#WhoIsOgura #profile {
  letter-spacing: 0.07em;
  position: relative;
  z-index: 0; }
  #WhoIsOgura #profile #meProfile {
    margin-top: 70px; }
    #WhoIsOgura #profile #meProfile #me_normal img {
      width: 95%; }
    #WhoIsOgura #profile #meProfile #desk {
      position: absolute;
      bottom: 50px; }
    #WhoIsOgura #profile #meProfile #ttlProfile {
      border-bottom: solid 2px #3387c0;
      width: 45%;
      margin-left: auto;
      text-align: center;
      position: relative;
      top: -40px; }
    #WhoIsOgura #profile #meProfile #time {
      font-size: 1.0rem;
      position: absolute;
      top: -20px;
      width: 60%; }
      #WhoIsOgura #profile #meProfile #time #money {
        color: #a6a6a6;
        padding-left: 2px;
        position: relative;
        top: 8px;
        letter-spacing: 0.2em; }
      #WhoIsOgura #profile #meProfile #time #always {
        font-size: 1.4rem; }
      #WhoIsOgura #profile #meProfile #time #timeText {
        padding: 3px 0 0 3px; }
    #WhoIsOgura #profile #meProfile #profileText {
      border-bottom: solid 2px #3387c0;
      font-size: 1.0rem;
      width: 45%;
      text-align: center;
      margin: 20px 0 0 auto;
      padding-bottom: 20px; }
      #WhoIsOgura #profile #meProfile #profileText #name {
        font-size: 1.4rem;
        font-weight: bold; }
      #WhoIsOgura #profile #meProfile #profileText #age {
        position: relative;
        top: -5px; }
  #WhoIsOgura #profile #earth {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 50%; }
    #WhoIsOgura #profile #earth #mr {
      border-top: solid 2px #3387c0;
      font-weight: bold;
      padding: 20px 0; }
    #WhoIsOgura #profile #earth img {
      width: 50%; }
    #WhoIsOgura #profile #earth #mrText {
      border-bottom: solid 2px #3387c0;
      padding: 10px 0; }

/* from */
#from {
  margin-top: 130px; }
  #from .ttl {
    border-bottom: solid 2px #ffe400;
    color: #ffe400;
    font-size: 2.0rem;
    letter-spacing: 0.08em;
    line-height: 1em;
    margin-top: 60px;
    padding-bottom: 5px; }
    #from .ttl .ttl_block {
      color: #333;
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
      position: relative; }
      #from .ttl .ttl_block::before {
        background: #fff98f;
        content: "";
        display: inline-block;
        margin-left: 5px;
        width: 27px;
        height: 2px;
        position: absolute;
        left: 53px;
        top: 7px; }
      #from .ttl .ttl_block::after {
        background: #fff98f;
        content: "";
        display: inline-block;
        margin-left: 5px;
        width: 27px;
        height: 3px; }
  #from #fromTtl {
    position: relative; }
    #from #fromTtl .ttl_block {
      top: 22px; }
    #from #fromTtl #namekuji {
      position: absolute;
      top: 42px;
      right: 0; }
      #from #fromTtl #namekuji img {
        width: 75%; }
  #from #map {
    margin-top: 35px;
    position: relative; }
    #from #map #japanSp {
      margin-top: 30px; }
      #from #map #japanSp img {
        width: 100%; }
    #from #map #tenkin {
      border-bottom: solid 2px #e88e4f;
      font-size: 1.4rem;
      margin: 0 0 5px 5px;
      padding-bottom: 2px; }
    #from #map p {
      font-size: 1.2rem;
      margin-left: 5px;
      line-height: 2em; }

/* policy */
#policy .ttl {
  border-bottom: solid 2px #67b363;
  color: #67b363;
  font-size: 2.0rem;
  letter-spacing: 0.08em;
  line-height: 1em;
  margin-top: 60px;
  padding-bottom: 5px; }
  #policy .ttl .ttl_block {
    color: #333;
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative; }
    #policy .ttl .ttl_block::before {
      background: #b1f5c3;
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 58px;
      height: 2px;
      position: absolute;
      left: 22px;
      top: 7px; }
    #policy .ttl .ttl_block::after {
      background: #b1f5c3;
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 58px;
      height: 3px; }
#policy .ttl_block {
  top: 20px; }
#policy #policyContent {
  margin: 35px 0 0 5px; }
  #policy #policyContent h3 {
    border-bottom: solid 2px #67b363; }
  #policy #policyContent #pen {
    margin: 10px 13px 40px 0;
    text-align: right; }
    #policy #policyContent #pen img {
      width: 22%; }
  #policy #policyContent #bread {
    margin: 10px 15px 30px 0;
    text-align: right; }
    #policy #policyContent #bread img {
      width: 15%; }
#policy #cycle {
  margin-top: 50px; }
  #policy #cycle img {
    width: 100%; }

/* skill */
#skill .ttl {
  border-bottom: solid 2px #dd861e;
  color: #dd861e;
  font-size: 2.0rem;
  letter-spacing: 0.08em;
  line-height: 1em;
  margin-top: 60px;
  padding-bottom: 5px; }
  #skill .ttl .ttl_block {
    color: #333;
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative; }
    #skill .ttl .ttl_block::before {
      background: #e5b985;
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 40px;
      height: 2px;
      position: absolute;
      left: 22px;
      top: 7px; }
    #skill .ttl .ttl_block::after {
      background: #e5b985;
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 40px;
      height: 3px; }
#skill .ttl_block {
  top: 20px; }
#skill .skills {
  padding-left: 2%;
  margin: 100px 0 0; }
  #skill .skills:nth-child(n + 3) {
    margin-top: 40px; }
  #skill .skills img {
    width: 17%; }
  #skill .skills #pc, #skill .skills #brush, #skill .skills #fx {
    padding: 4px 0 2px; }
  #skill .skills .skillText {
    margin-top: 10px; }
#skill #html {
  color: #3387c0;
  font-weight: bold; }
  #skill #html .meter_blue {
    width: 45%;
    height: 18px;
    border: 5px solid #3387c0; }
    #skill #html .meter_blue #meter_blue_in {
      background: #3387c0;
      width: 0%;
      height: 100%; }
  #skill #html .meter_orange {
    width: 45%;
    height: 18px;
    border: 5px solid #dd861e; }
    #skill #html .meter_orange #meter_orange_in {
      background: #dd861e;
      width: 0%;
      height: 100%; }
  #skill #html .meter_red {
    width: 45%;
    height: 18px;
    border: 5px solid #d55167; }
    #skill #html .meter_red #meter_red_in {
      background: #d55167;
      width: 0%;
      height: 100%; }
#skill #design {
  color: #e88e4f;
  font-weight: bold; }
  #skill #design .meter_blue {
    width: 45%;
    height: 18px;
    border: 5px solid #3387c0; }
    #skill #design .meter_blue #meter_blue_in {
      background: #3387c0;
      width: 0%;
      height: 100%; }
  #skill #design .meter_orange {
    width: 45%;
    height: 18px;
    border: 5px solid #dd861e; }
    #skill #design .meter_orange #meter_orange_in {
      background: #dd861e;
      width: 0%;
      height: 100%; }
  #skill #design .meter_red {
    width: 45%;
    height: 18px;
    border: 5px solid #d55167; }
    #skill #design .meter_red #meter_red_in {
      background: #d55167;
      width: 0%;
      height: 100%; }
#skill #javascript {
  color: #d55167;
  font-weight: bold; }
  #skill #javascript .meter_blue {
    width: 45%;
    height: 18px;
    border: 5px solid #3387c0; }
    #skill #javascript .meter_blue #meter_blue_in {
      background: #3387c0;
      width: 0%;
      height: 100%; }
  #skill #javascript .meter_orange {
    width: 45%;
    height: 18px;
    border: 5px solid #dd861e; }
    #skill #javascript .meter_orange #meter_orange_in {
      background: #dd861e;
      width: 0%;
      height: 100%; }
  #skill #javascript .meter_red {
    width: 45%;
    height: 18px;
    border: 5px solid #d55167; }
    #skill #javascript .meter_red #meter_red_in {
      background: #d55167;
      width: 0%;
      height: 100%; }

/* contact */
#contact {
  margin: 280px 0 100px; }
  #contact h2 {
    color: #d55167;
    border-bottom: solid 2px #d55167;
    padding-bottom: 2px;
    letter-spacing: 0.08em; }
  #contact #call {
    color: #e88e4f;
    text-align: center;
    letter-spacing: 0.1em; }
    #contact #call #love {
      font-size: 2rem;
      font-weight: bold;
      margin: 60px 0 15px; }
    #contact #call #send {
      letter-spacing: 0.03em; }
    #contact #call .arrow {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 11px solid #3387c0;
      width: 0;
      height: 0;
      margin: 45px auto;
      position: relative; }
      #contact #call .arrow::before {
        background: #3387c0;
        content: "";
        display: block;
        position: absolute;
        top: -18px;
        left: -7px;
        width: 15px;
        height: 8px; }
    #contact #call #friend {
      margin: 20px 0 0;
      padding-bottom: 20px;
      position: relative;
      left: 15px; }
      #contact #call #friend img {
        width: 50%; }

/* footer */
footer {
  background: #e88e4f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px; }

#pcMenu {
  display: none; }

#desk {
  display: none; }

#japan {
  display: none; }

/*# sourceMappingURL=index.css.map */
