@charset "utf-8";
@import "mixin.scss";


@media screen and (min-width: 800px) {
    
    header {
        width: 70%;
        #pcMenu {
            justify-content: flex-end;
            right: 20px;
        }
    }
    #container {
        width: 70%;
        margin: 170px auto 0;
    }
    #top {
        #teeth {
            font-size: 1.4vw;
        }
        #logo {
            left: 0;
            img {
                width: 15%;
            }
        }
        #scroll {
            top: 5px;
            right: 6px;
            #scroll::after {
                margin-left: 23px;
            }
        }
    }
    

    #WhoIsOgura {
        @include heading;
        .ttl {
            font-size:2.6rem;
            .ttl_block {
                font-size: 1.6rem;
                top: 3px;
                &::before {
                    left: 74px;
                    top: 7px;
                    width: 154px;
                    height: 2px;
                }
                &::after {
                    width: 154px;
                    height: 4px;
                }
            }
        }
        .text {
            font-size: 1.4rem;
            float:left;
            padding-left: 15px;
            line-height: 2.3em;
            width: 45%;
        }
        #profile {
            #meProfile {
                margin: 200px 0 0 auto;
                width: 50%;
                #desk {
                    width: 45%;
                }
                #ttlProfile {
                    font-size: 1.6rem;
                    font-weight: bold;
                    width: 40%;
                    margin-right: 15px;
                    padding-bottom: 2px;
                }    
                #time {
                    #money {
                        letter-spacing: 0.2em;
                    }
                    #always {
                        font-size: 1.6rem;
                        padding-left: 0;
                    }
                    #timeText {
                        padding:  2px 0 0 2px;
                    }
                }
                #profileText {
                    width: 40%;
                }
            }
            #earth {
                width: 20%;
                right: 25%;
            }

        }
    }

    /* from */
    #from {
        #fromTtl {
            #namekuji {
                top: 70%;
                right: 15%;
            }
            .ttl {
                font-size:2.6rem;
                .ttl_block {
                    font-size: 1.4rem;
                    top: 29px;
                    &::before {
                        left: 63px;
                        top: 7px;
                        width: 42px;
                        height: 2px;
                    }
                    &::after {
                        width: 42px;
                        height: 4px;
                    }
                }
            }    
        }
        #map {
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            #mapText {
                width: 50%;
                letter-spacing: 0.2em;
                #tenkin {
                    font-size: 1.6rem;
                    margin: 0;
                }
                #jp {
                    font-size: 1.4rem;
                    margin: 8px 0 0;
                    letter-spacing: 0.3em;
                }
                #en {
                    font-size: 1.0rem;
                    letter-spacing: 0.3em;
                    margin: 3px 0 0;
                }
            }
            
        }
    }



    /* policy */
    #policy {
        .ttl {
            font-size:2.6rem;
            .ttl_block {
                font-size: 1.4rem;
                top: 30px;
                &::before {
                    left: 27px;
                    top: 7px;
                    width: 81px;
                    height: 2px;
                }
                &::after {
                    width: 81px;
                    height: 4px;
                }
            }
        }
        #policyWrapper {
            display: flex;
            margin-left: 10px;
            letter-spacing: 0.08em;
            #policyContent {
                font-size: 1.4rem;
                width: 33%;
                line-height: 2em;
                p {
                    margin-top: 25px;
                    span {
                        display: block;
                        padding-top: 15px;
                    }
                }
                #pen {
                    img {
                        width: 40%;
                    }
                }
                #bread {
                    img {
                        width: 33%;
                    }
                }
            }    
            #cycle {
                margin-right: 5%;
                margin-left: auto;
                width: 46%;
                display: flex;
                align-items: center;
            }
        }
    }


    
    /* skill */
    #skill {
        font-size: 1.4rem;
        letter-spacing: 0.07em;
        .ttl {
            font-size:2.6rem;
            margin-bottom: 80px;
            .ttl_block {
                font-size: 1.4rem;
                top: 30px;
                &::before {
                    left: 27px;
                    top: 7px;
                    width: 58px;
                    height: 2px;
                }
                &::after {
                    width: 58px;
                    height: 4px;
                }
            }
        }
        #html,#design,#javascript {
            display: flex;
            @include meterPc;
            
            padding: 0;
            #designTtl,#htmlTtl,#javaTtl {
                text-align: center;
            }
            .skillWrapper {
                width: 13%;
            }
            #pc,#brush,#fx {
                img {
                    width: 50%;
                    margin-left: 20%;
                }
            }
            .meter_blue,.meter_orange,.meter_red {
                margin: 33px 0 0;
            }
            .skillText {
            margin-top: 2.8%;
            margin-left: 10%;
            width: 55%;
            }
        }
    }

    /* contact */
    #contact {
        
        h2 {
            font-size: 2.6rem;
            padding-bottom: 10px;
        }        
        #call {
            margin: 300px 0 0;
            padding-bottom: 200px;
            
            #love {
                font-size: 2.6rem;
                letter-spacing: 0.3em;
                margin-bottom: 60px;
            }   
            #send {
                font-size: 1.6rem;
                letter-spacing: 0.1em;
                margin-bottom: 80px;
            }
            address {
                font-size: 1.6rem;
                padding: 13px 33px;
                margin-top: 80px;

                position: relative;
            }
            #friend {
                img {
                    width: 30%;
                    margin: 30px 0 30px 2%;
                }
            }
        }
    }

}





