@charset "utf-8";
@import "mixin.scss";

@media screen and (min-width: 480px) {
    header {
        font-size: 1.2rem;
        width: 85%;
        margin: 0 auto;
        #pcMenu {
            display: flex;
            justify-content: center;
            position: relative;
            top: 20px;
            margin-left: 10px;
            li {
                a {
                    padding: 15px 10px;
                }
                #profile_nav {
                    color: $red;
                    &::after,&::before {
                        background: $red;
                    }
                }
                #from_nav {
                    color: $orange;
                    &::after,&::before {
                        background: $orange;
                    }
                }
                #policy_nav {
                    color: $green;
                    &::after,&::before {
                        background: $green;
                    }
                }
                #skill_nav {
                    color: $blue;
                    &::after,&::before {
                        background: $blue;
                    }
                }
                #contact_nav {
                    color: #8fcce6;
                    &::after,&::before {
                        background: #8fcce6;
                    }
                }
                
            }
        }
    }



    #top {
        #teeth {
            font-size: 2.2vw;
            right: -3px;
        }
        #logo {
            left: 5px;
            img {
                width: 30%;
            }
        }
        #scroll {
            right: 0;
            &::after {
                
            }
        }
    }


    
    /* who is ogura */
    #WhoIsOgura {
        .text {
            margin-top: 40px;
        }
        #profile {
            #meProfile {
                margin-left: auto;
                width: 70%;
                #time {
                    width: 40%;
                    #money {
                        letter-spacing: 0.5em;
                        top: 5px;
                    }
                    #always {
                        font-size: 1.4rem;
                        position: relative;
                        top: -2px;
                    }
                    #timeText {
                        font-size: 1.2rem;
                        margin-top: 5px;
                    }
                }
                #desk {
                    left: 0;
                    bottom: 0;
                    overflow: hidden;
                    width: 35%;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 6px;
                    img {
                        width: 100%;   
                        transition: all 0.25s linear;
                        &:hover{
                            transform: scale(1.1);
                        }    
                    }
                }
            }
            #earth {
                width: 25%;
                right: 35%;
            }
        }
    }

    /* from */
    #from {
        position: relative;
        #map {
            margin-top: 180px;
            #mapText {
                margin-left: auto;
                position: absolute;
                top: -90px;
                right: 0;
                width: 55%;
            }
            #japan {
                img {
                    width: 100%;
                }
            }    
        }
    }

    /* policy */
    #policy {
        #policyContent {
            #pen,#bread {
                margin-right: 15px;
                margin-left: auto;
                width: 50%;
            }
        }
        #cycle {
            margin: 0 auto;
            width: 70%;

        }
    }

    /* skill */
    #skill {
        #pc,#brush,#fx {
            img {
                width: 13%;
            }

        }
        #htmlTtl,#designTtl,#javaTtl {
            font-size: 1.4rem;
        }

    }
   
   
    #pcMenu {
        display: block;
    }
    #spMenu {
        display: none;
    }
    
    #desk {
        display: block;
    }
    #japan {
        display: block;
    }
    #japanSp {
        display: none;
    }


}

/* groball */


.underline {
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    &::after {
        background: #333;
        position: absolute;
        left: 50%;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        transition: all 0.5s;
        width: 0;
    }
    &::before {
        background: #333;
        position: absolute;
        right: 50%;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        transition: all 0.5s;
        width: 0;
    }
    &:hover::after,&:hover::before {
        width: 50%;
    }
}
