$main_font: "Lato 400", "Lato", "Hiragino Kaku Gothic ProN", "遊ゴシック Bold", "Yu Gothic Bold", sans-serif;

@mixin space($margin: 0,$padding: 0) {
    margin: $margin;
    padding: $padding;
}

@mixin spacing($value) {
    letter-spacing: $value;
}

@mixin heading($color: #3387c0,$backColor: #8fcce6,$width: 118px,$left: 55px) {
    .ttl {
        border-bottom: solid 2px $color;
        color: $color;
        font-size: 2.0rem;
        letter-spacing: 0.08em;
        line-height: 1em;
        margin-top: 60px;
        padding-bottom: 5px;
        .ttl_block {
            color: #333;
            display: block;
            font-size: 1.2rem;
            font-weight: normal;
            position: relative;
            &::before {
                background: $backColor;
                content: "";
                display: inline-block;
                margin-left: 5px;
                width: $width;
                height: 2px;
                position: absolute;
                left: $left;
                top: 7px;
            }
            &::after {
                background: $backColor;
                content: "";
                display: inline-block;
                margin-left: 5px;
                width: $width;
                height: 3px;
            }
            
        }
    }
}

@mixin meter($width: 45%, $height: 18px) {
    .meter_blue {
        width: $width;
        height: $height;
        border: 5px solid #3387c0;
        #meter_blue_in {
            background: #3387c0;
            width: 0%;
            height: 100%;
        }
    }
    .meter_orange {
        width: $width;
        height: $height;
        border: 5px solid #dd861e;
        #meter_orange_in {
            background: #dd861e;
            width: 0%;
            height: 100%;
        }
    }
    .meter_red {
        width: $width;
        height: $height;
        border: 5px solid #d55167;
        #meter_red_in {
            background: #d55167;
            width: 0%;
            height: 100%;
        }
    }
}
@mixin meterPc($width: 21%, $height: 28px) {
    .meter_blue {
        width: $width;
        height: $height;
        border: 5px solid #3387c0;
        #meter_blue_in {
            background: #3387c0;
            width: 0%;
            height: 100%;
        }
    }
    .meter_orange {
        width: $width;
        height: $height;
        border: 5px solid #dd861e;
        #meter_orange_in {
            background: #dd861e;
            width: 0%;
            height: 100%;
        }
    }
    .meter_red {
        width: $width;
        height: $height;
        border: 5px solid #d55167;
        #meter_red_in {
            background: #d55167;
            width: 0%;
            height: 100%;
        }
    }
}

$baseColor: #333;
$red: #d55167; 
$blue: #3387c0;
$orange: #e88e4f;
$green: #67b363;