.fade_in_up {
    animation: fade_in_up 0.3s 3s ease forwards;
}
.fade_in_up_slow {
    animation: fade_in_up 0.3s 3.5s ease forwards;
}
@keyframes fade_in_up{
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;        
    }
}

// 下層ページの大見出しをアニメーション
.bgHdn {
    @include square-main;
    .square2 {
        right: 37px;
    }
}