@import "_mixin.scss";
@import "_animation.scss";
/* define */
$main_color: #EF516C;
$bak_color: #FFE6D8;
$font_color: #221816;
$font_color_pale: #7c7c7c;
$dark_color: #333333;
$none: #ffffff;

$IMG: "../img/";


/* global */
html * ,
::before ,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto","Noto Sans JP",-apple-system, BlinkMacSystemFont, YakuHanJP,"Helvetica Neue", "Segoe UI","Hiragino Kaku Gothic ProN","游ゴシック Medium", "Yu Gothic Medium",  Meiryo, sans-serif;
    font-size: 1.5rem;
    background: $bak_color;
    color: $font_color;
}
body, .main , .main__container{
    position: relative;
    z-index: -1;
}
a {    
    text-decoration: none;
    color: $font_color;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}
ul,ol,li {
    list-style: none;
    margin:0;
    padding: 0;
}
:focus {
    outline: 0;
    border: 0;
}
.none {
    display: none;
}
.show {
    display: block;
    animation: fade_in 1s ease forwards; 
}
.hide {
    animation: fade_out 1s ease forwards;
}
@keyframes fade_in {
    0% {
        opacity: 0;    
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade_out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }
}


/* header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
    z-index: 10;
    &__logo {
        max-width: 170px;
        transition: 0.3s;
        &:hover {
            opacity: 0.7;
            transform: translateY(-3px);
        }
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0 0 30px;
        @include sp {
            padding-top: 42px;
        }
    }
    &__menu {
        position: fixed;
        z-index: 30;
        top: 4%;
        right: 6%;
        width: 55px;
        height: 48px;
        cursor: pointer;
        @include sp {
            right: 2%;
        }
        div {
            width: 55px;
            height: 10px;
            border-radius: 4px;
            background: $dark_color;
            @include sp {
                width: 45px;
                height: 7px;
            }
            &::after,&::before {
                content: "";
                display: block;
                width: 55px;
                height: 10px;
                border-radius: 4px;
                background: $dark_color;
                position: absolute;
                transition: 0.3s ease;
                @include sp {
                    width: 45px;
                    height: 7px;
                }
            }
            &::before {
             top: 36px; 
                @include sp {
                    top: 25px;
                }
            }
            &::after {
                 top: 18px; 
                 @include sp {
                    top: 13px;
                }
            }
        }
    }
}
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 10;
    background: linear-gradient(to left top, #ED6EA0,#EC8C69);
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
            a {
                display: block;
                margin: 30px 0;
                font-size: 2rem;
                text-align: center;
                letter-spacing: 0.12em;
                font-weight: bold;
                color: $none;
            }
        }
    }
}
.menu-toggle {
    cursor: pointer;
    position: fixed;
    z-index: 11;
    top: 5%;
    right: 8%;
    background: #221816;
    width: 8px;
    height: 45px;
    transform: rotate(45deg);
    border-radius: 50px;
    @include sp {
        top: 4%;
        right: 13%;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: #221816;
        width: 8px;
        height: 45px;
        border-radius: 50px;
        transform: rotate(90deg);
    }
}

/* main */
.main {
    overflow: hidden;
}




/* footer */
.footer {
    margin: 180px 0 0 0;
    padding: 72px 0 14px 0;
    background: #FFF1EA;
    @include sp {
        padding: 42px 0 14px 0;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__logo {
        margin-right: 36px;
        max-width: 155px;
        transition: 0.3s ease;
        @include sp {
            margin: 0 auto 30px;
        }
        &:hover {
            transform: translateY(-3px);
            opacity: 0.6;
        }
    }
    &__wrapper {
        display: flex;
        @include sp {
            flex-direction: column;
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav {
        display: flex;
        font-size: 1.4rem;
        li  a{
            display: inline-block;
            padding: 0 16px;
            border-right: solid 1px #A0A0A0;
            transition: 0.3s ease;
            &:hover {
                transform: translateY(-3px);
                opacity: 0.6;
            }
        }
        li:last-child a {
            border: none;
        }
        
    }
    @include contact(36px,36px,50px auto 25px,134px);
    .copy {
        font-size: 13px;
        text-align: center;   
    }
}
.goTop {
    opacity: 0;
    transition: 0.8s ease;
    a {
        position: fixed;
        z-index: 3;
        bottom: 5%;
        right: 5%;
        width: 56px;
        height: 56px;
        background: url($IMG + "solid_arrow_white.svg") no-repeat center center,linear-gradient(to top,#EC8C69,#ED6EA0,);
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        transition: 0.3s ease;
        &:hover {
            transform: translateY(-9px);
            // opacity: 0.8;
            filter: brightness(140%);
            box-shadow: 0 3px 6px rgba(0,0,0,0.3);
        }
    }
}

/* global */
.content-container {
    max-width: 1200px;
    margin: 0 auto;
}
/* 大見出し */
.bgHdn {
    padding: 288px 0 0 0;
    height: 1080px;
    background: url($IMG + "main_wave.svg") no-repeat center bottom,linear-gradient(to top right,#FFAFBD,#FFC3A0);
    @include sp {
        background: linear-gradient(to top right,#FFAFBD,#FFC3A0);
        height: 680px;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        
    }
    &__ttl {
        max-width: 306px;
        margin: 0 auto;
        img {
            margin: 0 auto;
        }
    }
    &__sub-ttl {
        display: block;
        font-size: 1.6rem;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 15px 0;
    }
    
}
/* 中見出し*/
.hdn {
    @include pc {
        padding-left: 2%;
    }
    @include sp {
        padding-left: 15px;
    }
    &::before {
        content: "";
        display: block;
        margin: 142px 0 106px 0;
        width: 4px;
        height: 71px;
        background: $font_color;
    }
    &__ja {
        display: inline-block;
        font-size: 1.6rem;
        letter-spacing: 0.1em;
        color: $font_color;
        margin: 25px 0 0 0;
        position: relative;
        &::before,&::after {
            content: "";
            display: block;
            border-radius: 100px;
            height: 6px;
            position: absolute;
            top: 46px;
        }
        &::before {
            width: 37px;
            background: $main_color;
        }
        &::after {
            width:13px;
            background: #707070;
            left: 40px;
        }   
    }
}
/* リンクボタン */
.btn {
    background: linear-gradient(to right, #D9767B,#B0454B);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    display: flex;
    align-items:center;
    justify-content: center;
    max-width: 229px;
    height: 55px;
    margin: 75px auto 0;
    letter-spacing: 0.05em;
    font-weight: bold;
    transition: 0.3s ease;
    &:hover {
        transform: translateX(10px);
        opacity: 0.8;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url($IMG + "btn_arrow.svg") no-repeat center center,linear-gradient(to left, #EC8C69, #ED6EA0);
        border-radius: 50%;
        transform: translateX(-20px);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }
}

/* 線の矢印 */
.arrow-right {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
}
.arrow-right::before,
.arrow-right::after {
    content: “”;
    display: block;
    width: 30px;
    height: 5px;
    background: #333;
    position: absolute;
}
.arrow-right::before {
    transform: translate(0, -9px) rotate(45deg);
}
.arrow-right::after {
    transform: translate(0, 9px) rotate(-45deg);
}

// square
.square-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

