@import "_global.scss";
.background {
    background: url($IMG + "main_wave.svg") no-repeat center bottom,linear-gradient(to top right,#FFAFBD,#FFC3A0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 900px;
    z-index: -1;
    &::before,&::after {
        content: "";
        display: block;
        position: absolute;
    }
    &::before {
        background: url($IMG + "bak_circle.svg") no-repeat center center;
        width: 530px;
        height: 530px;
        top: 150px;
        right: 80px;
        z-index: 1;
    }
    &::after {
        background: url($IMG + "blog_bak.svg") no-repeat;
        height: 1150px;
        top: 400px;
        right: 0;
        left: 0;
    }
    &__inner {
        background: url($IMG + "main_circle.svg") no-repeat;
        position: absolute;
        bottom: -540px;
        left: 70px;
        height: 500px;
        width: 500px;
        z-index: 1;
    }
}

.work-item {
    max-width: 920px;
    margin: 282px auto 0;
    background: url($IMG + "circle_purple.svg") no-repeat left top ,$none;
    border-radius: 10px;
    box-shadow: 0 3px 30px rgba(0,0,0,.08);
    &__container {
        padding: 100px 85px 76px 121px;    
        color: #6C6C6C;
        @include tb {
            padding: 100px 10% 60px;
        }
    }
    &__name {
        font-size: 2.8rem;
        font-weight: bold;
        text-align: center;
        color: $font_color;
    }
    &__season {
        color: #9D9D9D;
        text-align: center;
        font-size: 1.3rem;
    }
    &__image {
        max-width: 406px;
        margin: 63px auto 75px;
        img {
            margin: 0 auto;
        }
        &--sp {
            max-width: 250px;
            margin: 43px auto 35px;
            img {
                margin: 0 auto;
            }
        }
    }
    &__wrapper {
        display: flex;
        max-width: 420px;
        justify-content: space-between;
        margin: 0 auto;
        text-align: center;
    }
    &__role {
        font-size: 1.8rem;
        flex: 0 1 150px;
        &::before {
            content: "";
            display: block;
            margin: 0 auto 12px;
            height: 47px;
        }
    }
    &__role:first-child {
        font-size: 1.4rem;
        &::before { 
            background: url($IMG + "team.svg") no-repeat center center;width: 58px; 
        }
    }
    
    &__role:nth-child(2):before { background: url($IMG + "timer.svg") no-repeat center center;width: 42px; }
    &__role:nth-child(3)::before { background: url($IMG + "workman.svg") no-repeat center center;width: 55px; }
    &__define {
        font-size: 1.3rem;
        color:#F4BEB2;
        display: block;
        margin-bottom: 3px;
    }
    &__skill {
        &::before {
            content: "";
            display: block;
            width: 41px;
            height: 42px;
            margin: 0 auto 12px;
            background: url($IMG + "paint.svg") no-repeat center center;
        }
        text-align: center;
        max-width: 354px;
        margin: 81px auto 0;
        font-size: 1.5rem;
        line-height: 1.6;
        span {
            padding-bottom: 3px;
        }
    }
    &__text {
        max-width: 712px;
        margin: 63px auto 65px;
        font-size: 1.5rem;
        line-height: 2;
        letter-spacing: 0.05em;
    }
}


/* btn */
@mixin work-itemBtn($start_color,$end_color) {
    flex: 0 1 193px;
    margin: 0 auto;
    @include tb {
        flex: 0 1 90%;
    }
    a {
        display: block;
        padding: 12px 0;
        background: linear-gradient(to right,$start_color,$end_color);
        color: $none;
        border-radius: 100px;
        text-align: center;
        letter-spacing: 0.13em;
        box-shadow: 0 2px 6px rgba(0,0,0,0.14);
        transition: 0.3s ease;
        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.3);
        }
    }
}
.work-item__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 437px;
    margin: 0 auto;
}
.work-item__back {
    @include work-itemBtn(#B9B9B9,#C1C1C1);
    a:hover {
        opacity: 0.5;
    }
    @include tb { margin-top: 15px; }
}
.work-item__view {
    @include work-itemBtn(#ED6EA0,#EC8C69);
    a:hover {
        filter: brightness(140%);
    }
    @include tb { order: -1; }
}