@import "_global.scss";

/* my-porofile */
.my-profile {
    max-width: 287px;
    margin: 165px auto 0;
    &__name {
        margin: 50px 0 20px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            width: 287px;
            height: 287px;
            border-radius: 50%;
            background: url($IMG + "me_illust.svg") no-repeat center center/ 139px 196px ,$none ;
            margin: 0 0 20px;
        }
        span {
            display: block;
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: 18px;
        }
    }
    &__year {
        font-size: 1.4rem;
        text-align: center;
        font-weight: bold;
    }
    @include contact();
}


/* about-me */
.about-me {
    .hdn {
        max-width: 1200px;
        margin: 0 auto;
        @include sp {
            margin: 500px auto 0;
        }
    }
}

/* hello */
.hello {
    background: url($IMG + "right_bak.svg") no-repeat;
    position: relative;
    height: 900px;
    @include square-main;
    &::before,&::after {
        content: "";
        display: block;
        position: absolute;
    }
    &::before {
        background: url($IMG + "bak_circle.svg") no-repeat center center;
        width: 530px;
        height: 530px;
        position: absolute;
        top: 150px;
        left: -320px;
        z-index: -1;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        padding: 296px 0 0 2%;
    }
    &__img {
        position: absolute;
        right: 0;
    }
}
.hello-content {
    @include textBox("hello.svg",252px,100px);
}



/* creating */
.creating {
    background: url($IMG + "left_bak.svg") no-repeat;
    position: relative;
    height: 1200px;
    margin: 200px 0 0 0;
    @include square-main;
    &::before,&::after {
        content: "";
        display: block;
        position: absolute;
    }
    &::before {
        background: url($IMG + "bak_circle.svg") no-repeat center center;
        width: 400px;
        height: 400px;
        position: absolute;
        bottom: 100px;
        right: 0;
        z-index: -1;
        border-radius: 50%;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        padding: 296px 0 0 0;
    }
    &__wrapper {
        max-width: 640px;
        margin: 0 0 0 auto;
        padding: 73px 62px 63px 82px ;
        background: rgba(255,255,255,0.95);
        position: relative;
        top: 190px;
        z-index: 1;
    }
    &__img {
        position: absolute;
        left: 0;
    }
}
.creating-content {
    @include textBox("creating.svg",263px,100px );
    margin-left: auto;
}

/* private */
.private {
    position: relative;
    background: url($IMG + "blog_bak.svg") no-repeat;
    &__container {
        max-width: 1200px;
        background: $none;
        border-radius: 10px;
        box-shadow: 0 3px 30px rgba(0,0,0,.04);
        margin: 136px auto 0;
        padding: 67px 105px 111px;
        font-size: 1.3rem;
        line-height: 1.4;
        position: relative;
        z-index: 2;
        @include pc {
            padding: 67px 0 111px;
        }
    }
    &__hdn {
        font-size: 2.6rem;
        letter-spacing: 0.05em;
        text-align: center;
        &::after {
            content: "";
            display: block;
            width: 71px;
            height: 2px;
            background: #ffd7cc;
            margin: 20px auto 0;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 892px;
        margin: 30px auto 0;
        @include pc {
            max-width: 90%;
        }
        
        li {
            flex: 0 1 190px;
            text-align: center;
            font-weight: bold;
            margin: 70px 0 0 0;
            @include sp {
                margin: 70px auto 0;
                flex: 0 1 150px;
            }
        }
        li:first-child { @include iconList("work_icon.svg"); }
        li:nth-child(2) { @include iconList("study.svg"); }
        li:nth-child(3) { @include iconList("learn.svg"); }
        li:nth-child(4) { @include iconList("phone.svg"); }
        li:nth-child(5) { @include iconList("time.svg"); }
        li:nth-child(6) { @include iconList("team_icon.svg"); }
        li:nth-child(7) { @include iconList("design.svg"); }
        li:nth-child(8) { @include iconList("pc.svg"); }
    }
}
