@import "_global.scss";

.note {
    font-size: 1.5rem;
    letter-spacing: 0.14em;
    line-height: 2.1;
    max-width: 572px;
    margin: 157px auto 0;
    text-align: center;
    @include sp {
        font-size: 1.3rem;
        padding: 0 40px;
    }
}
.main__container {
    position: relative;
    .circle {
        display: block;
        background: url($IMG + "bak_circle.svg") no-repeat center center;
        width: 530px;
        height: 530px;
        position: absolute;
        top: -60px;
        right: -60px;
        z-index: -1;
        @include sp {
            top: 220px;
            right: -250px;
        }
    }
}

/* my-works */
.my-works {
    background: url($IMG + "myWorks_bak.svg") no-repeat;
    position: relative;
    @include sp {
        background: none;
    }
    @include square-main;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
.work-list {
    margin: 250px 0 0 0;
    position: relative;
    z-index: 1;
    @include sp {
        margin-top: 130px;
    }
    &__toggle {
        font-size: 2.8rem;
        display: flex;
        max-width: 235px;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0.04em;   
        li {
            cursor: pointer;
        }
    }
    &__btn {
        color: $font_color_pale;
        @include sp {
            color: $none;
        }
        &:first-child {
            margin-right: 75px;
        }
    }
}
.toggle-line {
    animation: toggle_line 0.8s ease forwards;
    &::before, &::after {
        content: "";
        display: block;
        height: 4px;
        border-radius: 50px;
        position: absolute;
        bottom: -10px;
    }
    &::after {
        width: 20px;
        background: linear-gradient(to right, #ED6EA0, #EC8C69);
        @include sp {
            background: $font_color;
        }
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
@keyframes toggle_line {
    0%{}
    100% {
        position: relative;
        color: $font_color;
    }
}
.work-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0 0;
    @media (min-width:980px) and (max-width:1118px) { 
        padding: 0 100px;
    }

}
.work-item {
    flex: 0 1 368px;
    margin: 48px 0 0 0;
    @include pc {
        margin: 48px auto 0;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to top,$none,#FFFEF8);
        position: relative;
        border-radius: 5px;
        box-shadow: 0 3px 20px rgba(0,0,0,.08);
    }
    &__wrap {
        padding: 0 35px 30px 40px;
    }
    &__name {
        font-size: 2rem;
        margin: 40px 0 19px 0;
    }
    &__detail {
        margin: 5px 0 0 0;
    }
    &__ttl-detail {
        display: inline-block;
        font-size: 1.1rem;
        color: #A7A7A7;
        width: 55px;
        margin-right: 24px;
    }

    &__category {
        position: absolute;
        top: 210px;
        left: 0;
        z-index: 2;
        background: linear-gradient(to right,#FFAFBD, #FFC3A0);
        display: block;
        color: $none;
        width: 142px;
        padding: 5px 25px;
        text-align: center;
    }
    @include article_hover();
    @include square-main;
}

@include sp {
    .square2,.square-small1 {
        display: none;
    }
}


.square1 {
    display: none;
}