.company-data {
    display: flex;
    justify-content: space-between;
    @include sp {
        width: 85%;
        margin: 0 auto;
    }
    &__item {
        width: 134px;
        height: 134px;
        padding-top: 5px;
        border-radius: 50%;
        border: 1px solid $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.3;
        @include sp {
            width: 100px;
            height: 100px;
        }
    }
    &__smallBig {
        margin-bottom: -15px;
    }
}