.descBox {
    background: $white;
    box-shadow: 12px 12px 40px rgba(0,0,0,.14);
    max-width: 1000px;
    margin: 150px auto 0;
    padding: 77px 84px 40px;
    position: relative;
    @include sp {
        padding : 10% 10% 5%;
    }
    &__ttl-wrap {
        overflow: hidden;
        position: absolute;
        top: -40px;
        left: 0;
    }
    &__ttl {
        font-size: 2rem;
        letter-spacing: 0.2em;
        padding: 0 38px;
        background: $mainColor;
        color: $white;
        transform: skew(20deg) translateX(-6px);
        span {
            display: block;
            transform: skew(-20deg);
        }
        @include sp {
            font-size: 3rem;
        }
    }
    &__subTtl {
        font-size: 2.8rem;
        letter-spacing: 0.08em;
        font-weight: bold;
        margin-bottom: 42px;
        font-family: 'Reimin Bold','Hiragino Mincho ProN', '游明朝' , sans-serif;
    }
    &__txt {
        width: 80%;
        margin: 70px auto 0;
        letter-spacing: 0.04em;
    }
    &:nth-child(2) {
        padding-bottom: 70px;
    }
}
.experience-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    @include sp {
        flex-direction: column;
        align-items: center;
    }
    &__item {
        font-size: 1.8rem;
        font-weight: bold;
        font-family: 'Reimin Bold','Hiragino Mincho ProN', '游明朝' , sans-serif;
        @include sp {
            margin-top: 15px;
        }
        img {
            width: 70px;
            margin: 0 auto 10px;
        }
    }
    &+.descBox__txt {
        @include sp {
            margin: 25px 0 0 0;
            width: 100%;
            font-size: 1.8rem;
            line-height: 2.4;
        }
        
    }
}