.job-flow {
    max-width: 920px;
    margin: 0 auto 88px;
    background: $white;
    box-shadow: 0 0 60px rgba(0,0,0,.05);
    &__head {
        background: #4e4e4e;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 25px;
        margin-bottom: 34px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            opacity: 0.8;
            box-shadow: 0 5px 10px rgba(0,0,0,.3);
        }
    }
    &__ttl {
        font-size: 2.2rem;
        font-weight: bold;
        font-family: 'Reimin Bold','Hiragino Mincho ProN', '游明朝' , sans-serif;
        &--small {
            font-weight: normal;
            font-size: 1.8rem;
        }
    }
    &__toggle-icon {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Reimin Bold','Hiragino Mincho ProN', '游明朝' , sans-serif;
        line-height: 0.8;
    }
}
.job-flow-list {
    transition: 0.3s ease;
    &--none {
        animation: 0.5s ease toggleSlideHide forwards;
        display: none;
    }
    &--block {
        animation: 0.5s ease toggleSlideView forwards;
        display: block;
    }
}
.job-flow-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px dashed #f0f0f0;
    @include sp {
        display: block;
    }
    &__time {
        font-size: 1.8rem;
        flex: 0 0 10%;
        padding-left: 13px;
        @include sp {
            padding: 0;
        }
    }
    &__wrap {
        flex: 0 0 60%;
    }
    &__ttl {
        font-size: 2rem;
    }
    &__txt {
        width: 85%;
    }
    &__img {
        flex: 0  0 180px;
        margin-right: 15px;
    }

}
