.main {
  &__container {
    height: 100vh;
  }
}

.get-evolve {
  margin: 0 -20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0);
  opacity: 0;
  transition: 2s ease;
  img {
    width: 120%;
  }
}
