@charset "UTF-8";
input::placeholder {
  padding-left: 5px;
  color: #afafaf;
  font-weight: normal; }

input {
  font-weight: bold;
  font-size: 1.8rem; }

input[type="radio"], input[type="checkbox"] {
  position: relative;
  top: -2px; }

input[type="radio"] {
  background: white; }

select {
  background: #ffffff; }

/* form */
#formHead {
  background: url("../images/order_form_img/background_top.png") no-repeat center center;
  width: 100%;
  height: 502px;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center; }
  #formHead h2 {
    margin: 400px 0 10px; }
  #formHead p {
    color: #73caff; }

#orderFormBak {
  background: url("../images/order_form_img/background_middle.png") no-repeat center center;
  height: 2342px;
  margin: 380px 0 0; }

#orderForm {
  width: 1000px;
  height: 1574px;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  background: #ffffff; }
  #orderForm #form {
    width: 530px;
    height: 1450px;
    margin: 0 auto;
    padding-top: 100px; }
    #orderForm #form th {
      font-size: 2.2rem;
      text-align: left;
      position: relative;
      top: 15px;
      left: 20px; }
      #orderForm #form th::before {
        content: "";
        width: 10px;
        height: 24px;
        background: #ffff00;
        position: absolute;
        left: -20px;
        top: 13px; }
    #orderForm #form td {
      width: 188px; }

/* name */
.nameBox {
  width: 150px;
  height: 30px;
  border: solid 1px #007cc8;
  border-radius: 2px; }

/* post code */
#postalCode {
  position: relative;
  margin-right: 0; }
  #postalCode::after {
    content: "";
    width: 20px;
    height: 3px;
    background: #007cc8;
    position: absolute;
    top: 25px;
    left: 140px; }

.postcode {
  width: 120px;
  height: 30px;
  border: solid 1px #007cc8;
  border-radius: 2px;
  position: relative; }

/* address */
.address {
  width: 500px;
  height: 30px;
  border: solid 1px #007cc8;
  border-radius: 2px; }

/* tel */
.tel_bar {
  position: relative; }
  .tel_bar::after {
    content: "";
    width: 20px;
    height: 3px;
    background: #007cc8;
    position: absolute;
    top: 25px;
    left: 135px; }

.tel {
  width: 115px;
  height: 30px;
  border: solid 1px #007cc8;
  border-radius: 2px;
  position: relative; }

/* e-mail */
.mail {
  width: 400px;
  height: 30px;
  border: solid 1px #007cc8;
  border-radius: 2px; }

/* birthday */
#birthday .year {
  width: 130px;
  height: 30px; }
#birthday .month {
  width: 90px;
  height: 30px; }
#birthday .day {
  width: 90px;
  height: 30px; }
#birthday span {
  position: relative;
  top: 5px;
  left: 2px; }

/* buy count */
#count {
  width: 150px;
  height: 30px; }

/* enter cansel */
.policy {
  text-align: center;
  position: relative;
  top: 20px; }

#enterCansel {
  text-align: center; }

.enter_cansel {
  width: 120px;
  height: 35px;
  border: solid 1px #007cc8;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
  margin-right: 10px; }
  .enter_cansel:hover {
    opacity: 0.7; }

input {
  font-family: "helvetica", "Helvetica Neue",  "Segoe UI", "Yu Gothic", "YuGothic", "Meiryo", "メイリオ", sans-serif; }

#send {
  width: 1000px;
  height: 800px;
  margin: 0 auto;
  text-align: center; }
  #send #message {
    margin: 280px 0 0 25px; }
  #send #back a {
    display: inline-block;
    padding: 0 10px;
    background: #00a0e9;
    border-radius: 2px;
    color: #ffffff;
    margin-top: 20px; }

/*# sourceMappingURL=order_form.css.map */
