

#headerWrapper #gNavi #storeIcon { /* 現在地がわかるようにメニューのアイコンを青色にする　base.cssより優先 */
  background: url("../images/grobal/store_icon_blue.png") no-repeat top center;
  a {
    display: block;
    padding: 43px 0 0 3px;
    line-height: 1.2em;
  }
}

/* storeHead */
#storeHead {
  background: url("../images/store_img/background_top.jpg") no-repeat center center;
  margin: 0 auto;
  height: 568px;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  h2 {
    margin: 450px 0 10px;
  }
  p {
    color: #73caff;
  }
}

/* directShop */
#directShopWrapper {
  background: url("../images/store_img/background_map.png") no-repeat center center;
  height: 999px;
  #directShop {
    width: 1000px;
    margin: 0 auto;
    margin-top: 399px;
    height: 3371px;
    h3 {
      width: 280px;
      height: 60px;
      background: #2eafec;
      line-height: 63px;
      text-align: center;
      margin: 100px 0 50px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 13px;
        height: 32px;
        background: #007cc8;
        position: absolute;
        top: 14px;
        left: 15px;
      }
    }
    #directShopText {
      width: 390px;
      position: relative;
      top: 100px;
      left: 70px;
      z-index: 100;
    }
    #directShopMap {
      position: relative;
      top: -250px;
      left: 80px;
      z-index: 1;
    }
  }
}

/* store */
#storeWrapper {
  background: url("../images/store_img/background_middle.png") no-repeat center center;
  height: 2372px;
  #store {
    width: 1000px;
    margin: 0 auto;
    padding: 140px 0 0  140px;
    h3 {
      width: 280px;
      height: 60px;
      background: #2eafec;
      line-height: 63px;
      text-align: center;
      margin: 0;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 13px;
        height: 32px;
        background: #007cc8;
        position: absolute;
        top: 13px;
        left: 15px;
      }
      span {
        padding-right: 60px;
      }
    }
    p {
      margin-top: 30px;
    }
  }
}

table {
  width: 900px;
  margin-top: 90px;
  caption {
    text-align: left;
  }
  thead {
    background: #2eafec;
    .shop_menu{
      width: 200px;
    }
    .tel_number {
      width: 170px;
    }
  }
  tbody {
    tr {
      height: 65px;
      background: url("../images/store_img/dashed.png") repeat-x bottom;
      position: relative;
      td {
        padding-left: 25px;
      }
    }
  }
}

/* Drop Map */
.map {
  width: 160px;
  position: relative;
  left: 15px;
}
.hidden_box {
  position: relative;
  label {
    background: #52bbec;
    display: inline-block;
    width: 109px;
    height: 30px;
    line-height: 32px;
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    .close {
      visibility: hidden;
    }
  }
  input {
    display: none;
  }
  .hidden_show {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: -754px;
    z-index: 100;
    .close {
      color: #ffffff;
      position: absolute;
      top: -20px;
      right: 38px;
    }
  }
  input:checked ~ .hidden_show{
    visibility: visible;
  }
}
iframe {
  background: #73caff;
  padding: 10px;
  border-radius: 3px;
}


/* internet shop */

#netShopWrapper {
  background: url("../images/store_img/background_bottom.png") no-repeat center center;
  height: 1060px;
  #netShop {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0 0 140px;
    h3 {
      width: 385px;
      height: 65px;
      background: #2eafec;
      line-height: 67px;
      text-align: center;
      margin: 0 0 50px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 13px;
        height: 35px;
        background: #007cc8;
        position: absolute;
        top: 14px;
        left: 15px;
      }
    }
    #shopSite {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 903px;
      height: 100px;
      padding-top: 20px;
      p {
        border-right: solid 1px black;
        padding: 0 60px;
        &:hover {
          opacity: 0.7;
        }
      }
      p:last-child {
        border: none;
        padding: 0 40px 0 0;
      }
    }
  }
}
