#container {
  background: #ffffff;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}
/* grobal */
.efficacy_link {
  img {
    width: 75%;
  }
}
.efficacy_link a:active {
  opacity: 0.7;
}

header {
  background: url("../images/mobile_img/header_bak.png") no-repeat center center/cover;
  position: relative;
  height: 70px;
  z-index: 10;
  #logo {
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    img {
      width: 40px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  #menu {
    position: absolute;
    right: 15px;
    top: 20px;
    a:hover {
      opacity: 0.7;
    }
    img {
      width: 25px;
    }
  }
}
/* main visual */
#mainVisual {
  background: url("../images/mobile_img/main_visual.jpg") no-repeat center center/contain;
  height: 489px;
  position: absolute;
  top: -100px;
  section {
    width: 100%;
    h2 {
      margin: 200px 0 0 40px;
      width: 53%;
      float: left;
      img {
        width: 100%;
      }
    }
  }
  #bottle {
    margin: 130px 20px 0 0;
    width: 25%;
    max-width: 120px;
    min-width: 100px;
    float: right;
    img {
      width: 100%;
    }
  }
}

/* bottle leaf */
#suuTopBak {
  background: url("../images/mobile_img/leaf_bak.jpg") no-repeat center center/cover;
  height: 516px;
  margin-top: 190px;
  width: 100%;
  #suuTop {
    width: 85%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    h2 {
      margin: 0;
      img {
        width: 35%;
      }
    }
  }
  #coldLotion {
    h3 {
      margin: 20px auto 6px;
      height: 26px;
      width: 80%;
      border-bottom: solid 1px #007cc8;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

/* Water Drop */
#waterDropWrapper {
  background: url("../images/mobile_img/waterdrop_sky.jpg") no-repeat center center/cover;
  width: 100%;
  height: 750px;
  position: relative;
  top: -15px;
  #waterDrop {
    background: url("../images/mobile_img/water_drop.png") no-repeat center center/contain;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    #WaterDropText {
      width: 100%;
      position: relative;
      top: 70px;
      margin: 0 auto;
      color: #fff;
      text-align: center;
      h3 {
        margin: 0 auto 5px;
        padding-top: 23px;
        position: relative;
        top: -2px;
        img {
          width:55%;
        }
      }
      #damage {
        height: 40px;
        margin: 0 0 10px;
        img {
          width: 80%;
        }
      }
      #twoGraph {
        margin: 0;
        img {
          width:63%;
        }
      }
      #yellowArrow {
        margin: 0;
        height: 20px;
        img {
          width: 7%;
        }
      }
      #textBottom {
        margin-top: 8px;
        .yellow_underline {
          height: 10px;
          position: relative;
          top: -12px;
          img {
            width: 70%;
          }
        }
        #ultravioletText {
          width: 90%;
          margin: 0 auto;
          line-height: 1.6em;
        }
        #skinProtectImg {
          img {
            width: 60%;
          }
        }
        #highMoist {
          margin: 0 ;
        }
      }
      .efficacy_link_two {
        margin-top: 50px;
        img {
          width: 60%;
        }
      }
      .efficacy_link_two a:active {
        opacity: 0.7;
      }
    }
  }
}

/* thinks */
#thinkWrapper {
  background: url("../images/mobile_img/think_image.png") no-repeat center center/cover;
  width: 100%;
  height: 800px;
  position: relative;
  right: 8px;
  margin-bottom: 20px;
  #thinks {
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    #thinkAsk {
      margin: 23px 0 0 15px;
      img {
        width: 80%;
        right: 5px
      }
    }
  }
}

#thinkList {
  line-height: 1.3em;
  #firstUse {
    position: absolute;
    top: 193px;
  }
  #cleanFace {
    position: absolute;
    top: 230px;
    left: 145px;
  }
  #careTime {
    position: absolute;
    top: 330px;
    right: 0;
  }
  #sportUse {
    position: absolute;
    top: 370px;
    right: 137px;
  }
  #acneCare {
    position: absolute;
    bottom: 325px;
    left: 35px;
  }
  #sportSweat {
    position: absolute;
    bottom: 273px;
    right: 42px;
  }
}

#thinkAnswer {
  position: absolute;
  bottom: 73px;
  right: 2px;
  img {
    width: 80%;
  }
}
.efficacy_link_three {
  position: absolute;
  bottom: 10px;
  img {
    width: 75%;
  }
}
.efficacy_link_three a:active {
  opacity: 0.7;
}

/* buy link mini */
#buyLinkMiniWrapper {
  background: url("../images/mobile_img/wood_wall_bak.jpg") no-repeat center center/cover;
  height: 100px;
  position: relative;
  #buyLinkMini {
    width: 90%;
    margin: 0 auto;
    display: flex;
    #MiniLeft {
      width: 100%;
      float: left;
      position: relative;
      top: 12px;
      #text {
        img {
          width: 80%;
        }
      }
      #buySmallLink {
        img {
          width: 55%;
        }
      }
    }
    #bottleOblique {
      width: 30%;
      position: absolute;
      bottom: -7px;
      right: 19px;
      img {
        width: 100%;
      }
    }
  }
}

/* how to use */
#howToUseWrapper {
  background: url("../images/mobile_img/howtouse_bak.jpg") no-repeat center center/cover;
  height: 920px;
  #howToUse {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    position: relative;
    h3 {
      margin: 0;
    }
    h3 + p {
      color: #9acff3;
      margin: 0;
      position: relative;
      top: -5px;
    }
    #step {
      li:first-child {
        position: absolute;
        top: 110px;
        left: 80px;
      }
      li:nth-child(2) {
        position: absolute;
        top: 365px;
        left: 75px;
      }
      li:last-child {
        position: absolute;
        bottom: 230px;
        left: 85px;
      }
    }
    figure {
      margin: 0;
      position: relative;
      top: 10px;
      right: 10px;
    }
  }
  #useLink {
    margin-top: 50px;
  }
}

/* faq */
#faqWrapper {
  background: url("../images/mobile_img/faq_bak.jpg") no-repeat center center/cover;
  height: 580px;
  #faq {
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 100px;
    .question {
      margin-top: 30px;
      p:first-child {
        border-bottom: solid 2px #fff;
      }
    }
    h3 {
      text-align: center;
    }
  }
}
#faqLink {
  margin-top: 30px;
  text-align: center;
}
/* store */
#shopWrapper {
  background: url("../images/mobile_img/sky_bottom.png") no-repeat center center/cover;
  height: 850px;
  #store {
    width: 80%;
    margin: 0 auto;
    position: relative;
    h3 {
      position: absolute;
      top: 15px;
      left: 80px;
      img {
        width: 60%;
      }
    }
    #storeText {
      position: absolute;
      top: 80px;
      left: 55px;
      img {
        width: 80%;
      }
    }
    #storeLink {
      position: absolute;
      top: 140px;
      left: 60px;
    }
    figure {
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
}

/* online shop */
#online-shop {
  width: 80%;
  margin: 0 auto;
  padding-top: 35px;
  position: relative;
  h2 {
    text-align: center;
  }
  #onlineBottle {
    margin: 0;
    text-align: center;
  }
  #price {
    text-align: center;
    #five-yen {
      padding-right: 3px;
    }
  }
  #capacity {
    text-align: center;
    position: relative;
    top: -10px;
  }
  #caption {
    text-align: center;
  }
  #component {
    color: #777777;
    position: absolute;
    top: 130px;
    right: 20px;
    border: solid 2px #2eafec;
    letter-spacing: 1em;
    padding-left: 10px;
  }
  #componentContents {
    color: #999999;
    position: absolute;
    top: 160px;
    right: 0;
    width: 30%;
    line-height: 1.5em;
    padding: 5px;
    border: solid 2px #2eafec;
  }
  #buyLink {
    text-align: center;
    margin-top: 5px;
    img {
      width: 50%;
    }
  }
}

/* footer */
#footerWrapper {
  background: url("../images/mobile_img/footer_bak.png") no-repeat center top/cover;
  height: 420px;
  footer {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    address {
      line-height: 1.6em;
      text-align: center;
    }
    #momoi {
      text-align: center;
      margin: 20px 0 10px;
      img {
        width: 40%;
      }
    }
    #siteLinks {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      height: 100px;
      li {
        width: 70px;
        a {
          color: #fff;
        }
      }
      li:nth-child(6) {
        width: 100px;
      }
      li:last-child {
        width: 80px;
      }
    }
    #contact {
      display: flex;
      justify-content: space-around;
      width: 200px;
      margin: 10px auto 0;
      #tel {
        display: inline-block;
        width: 90px;
        height: 25px;
        text-align: center;
        padding-top: 3px;
        border-radius: 3px;
        background: #fff;
      }
      #company {
        display: inline-block;
        width: 90px;
        height: 25px;
        text-align: center;
        padding-top: 3px;
        border-radius: 3px;
        background: #fff;
      }
    }
    #copyright {
      text-align: center;
      margin-top: 10px;
    }
  }
}
