/* ----------- animaiton ----------- */
.scroll_hide1 { opacity: 0; transform: translateY(90px); }
.scroll_hide2 { opacity: 0; transform: translateX(-100px); }
.scroll_hide3 { opacity: 0; transform: translateX(100px); }
.scroll_hide4 { opacity: 0; transform: translateX(-100%); }
.scroll_hide5 { opacity: 0; transform: translateX(100%); }
.scale_hide { opacity: 0; transform: scale(0); }
// scroll_view
.scroll_view1 { animation: scroll_view1 1s ease forwards; }
.scroll_view1_slow { animation: scroll_view1 1s ease 0.7s forwards; }
.scroll_view1_to_slow { animation: scroll_view1 1s ease 1.3s forwards; }
.scroll_view2 { animation: scroll_view2 1s ease forwards; }
.scroll_view3 { animation: scroll_view3 1s ease forwards; }
.scroll_view3_to_slow { animation: scroll_view3 1s ease 1.3s forwards; }
.scroll_view4 { animation: scroll_view4 1s ease forwards; }
.scroll_view5 { animation: scroll_view5 1s ease forwards; }
.scale_view_fast { animation: scroll_scale 1s ease 0.7s forwards; }
.scale_view { animation: scroll_scale 1s ease 2.1s forwards; }


@keyframes scroll_view1{
    0% { opacity: 0; transform: translateY(90px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes scroll_view2{
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes scroll_view3{
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes scroll_view4{
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes scroll_view5{
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes scroll_scale{
    0% { opacity: 0; transform: scale(0); }
    50% { opacity: 1; transform: scale(1.2); }
    100% { opacity: 1; transform: scale(1); }
}