.footer {
  margin: 150px 0 0 0;
  position: relative;
  &-tags {
    margin: 32px 0 0 0;
  }
  &-recommend {
    display: none;
    @include tb {
      display: block;
    }
  }
}

.go-top {
  position: absolute;
  bottom: 180px;
  right: 7px;
  &__btn {
    text-align: center;
    transition: 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      a::before {
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.13);
      }
    }
  }
  a {
    color: $white;
    @include before() {
      background: url($img+"arrow_yellow.svg") no-repeat center center $white;
      border-radius: 50%;
      width: 53px;
      height: 53px;
    }
  }
}
