.header {
    &-container {
        background: $white;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }


  &__logo {
    max-width: 105px;
    margin: 0 auto;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}
