//
// 変数
//

//カラー
$font_color: #4d4d4d;
$main_color: #FFD476;
$main_color_pale: #FFFFE3;
$assort_color: #FF7777;
$accent_color: #6EE5B7;
$accent_color2: #77B6FF;
$none_color: #fff;
$pale_color: #F4F4F4;

// 画像
$IMG_SVG: "../img/svg/";
$IMG_PHOTO: "../img/photo/";