
/* main_color */
$font_color: #333333;
$bak_color: #fffddc;
$bak_color2: #dcbd81;
$main_color: #9cc556;
$main_color_dark: #689d38;
$assort_color: #eda411;
$accent_color: #de6a7c;
$none_color: #fff;
$separation_color: #bc80c3;


/* other_color */
$pale_text_color: #8c8c8c;
$border_line_color: #f3f3f3;
$border_pale_color: #c0dda6;
$pale_dirt_color : #f1d08d;
$dirt_color : #b78d37;
$light_color: #fcff00;



/* festival */
$dirt_color_fes : #ba9041;



$IMG_GLOBAL: "../../images/global_i/";
$IMG_VEGE: "../../images/vegetable_i/";
$IMG_PHOTO: "../../images/photo/";
$IMG_FES: "../../images/festival/";