.about-site {
  &__logo {
    max-width: 247px;
    margin: 0 auto;
    @include tb {
        max-width: 308px;
    }
  }
}
.about-txt {
  text-align: center;
  margin: 47px auto 0;
  line-height: 2;
  max-width: 268px;
}
.about-ttl--inner {
  margin: 150px auto 0;
  text-align: center;
  font-size: 2rem;
}
.about-profile {
    &__wrapper {
        @include tb {
            display: flex;
            margin-top: 13px;
        }
    }
  &__illust {
    max-width: 168px;
    margin: 23px auto 35px;
    @include tb {
        flex: 0 0 168px;
    }
  }
}
.about-me {
  text-align: center;
  @include tb {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  &__name {
    font-size: 1.6rem;
  }
  &__desc {
    font-weight: normal;
    margin: 8px auto 0;
    line-height: 2;
    max-width: 280px;
    @include tb {
        margin-top: 0;
    }
  }
}

.about-logo {
    &__logo {
        max-width: 137px;
        margin: 36px auto 35px;
    }
}