.article {
    padding: 60px 0 0 0;
    @include tb {
        padding-top: 92px;
    }
    &__wrapper {
        @include sp {
            width: 95%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include tb {
            width: 75%;
            max-width: 769px;
        }
    }
    
}