
.input-name,.input-mail,.input-txtarea {
    font-weight: normal;
}
.input-name {
    max-width: 177px;

}
.input-mail {
    max-width: 254px;
}
.input-txtarea {
    max-width: 290px;
    .input-txt {
        height: 150px;
    }
}
.input-caption {
    display: inline-block;
    position: relative;
    &::after {
        content: "*";
        color: $accentColor1;
        display: inline-block;
        position: absolute;
        top: 0;
        right: -10px;
    }
}
.input-txt {
    border-bottom: 1px solid #C9C9C9;
    width: 100%;
    margin-top: 4px;
    text-indent: 6px;
    &::placeholder {
        color: #AFAFAF;
    }
}