.footer-me {
    padding: 0 0 43px 0;
    @include tb {
        display: flex;
        max-width: 550px;
        margin: 0 auto;
    }
    &__illust {
        width: 70%;
        margin: 0 auto;
        @include sp {
            width: 40%;
        }
        @include tb {
            flex: 0 0 50%;
            max-width: 262px;
        }
    }
    &__name {
        font-size: 1.4rem;
        margin: 6px 0 0 0;
    }
    &__wrapper {
        text-align: center;
        font-size: 1.2rem;
        @include tb {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        dd {
            font-weight: normal;
        }
    }
}
.twitter-me {
    margin: 12px 0 0 0;
}