.popular-item {
  width: 95%;

  margin: 0 auto;
  position: relative;
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    opacity: 0.9;
  }
  @include before() {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 0;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: rgba(178, 138, 6, 100);
    filter: blur(17px);
  }
  &__img {
      img {
          object-fit: cover;
          border-radius: 2px;
          @include tb {
            height: 350px;
          }
      }
  }
  &__wrapper {
    display: block;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  &__inner {
    position: relative;
  }
  &__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 80px 16px 23px;
    @include sp {
      padding-bottom: 20px;
    }
    @include tb {
      padding: 0 0 22px 30px;
    }
  }
  &__date {
    margin: 0 0 2px 0;
    @include sp {
      margin: 2px 0;
    }
    @include tb {
      font-weight: normal;
    }
  }
  &__ttl {
    @include after() {
      width: 11px;
      height: 2px;
      background: $white;
      border-radius: 25px;
      margin: 6px 0 4px;
    }
    @include tb {
      font-size: 1.6rem;
      &::after {
        width: 24px;
      }
    }
  }
  &__txt {
    max-width: 300px;
    @include tb {
      font-weight: normal;
      margin-top: 3px;
    }
  }

  .btn--white {
    display: none;
    @include tb {
      display: inline-block;
      position: absolute;
      bottom: 24px;
      right: 31px;
      padding: 5px 45px 5px 45px;
    }
  }
}
