.slick-list {
  overflow: visible;
  @include sp {
    position: relative;
  }
}
.slick-slide {
  width: 95vw;
  max-width: 560px;
  margin: 0 40px;
  @include sp {
    width: 80vw;
    max-width: 565px;
    margin: 0 60px;
  }
  @include tb {
    margin: 0 90px;
  }
}
.slick-track {
  @include sp {
    top: 40px;
  }
}
.slick-current {
  transition: 0.3s ease;
  @include sp {
    transform: scale(1.2);
  }
  @include tb {
    transform: scale(1.3);
  }
}

.popular-arrow {
  @include sp {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgba(0, 0, 11, 0.9);
    position: absolute;
    top: 180px;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: 12px;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 3px;
      right: 0;
    }
  }
}

.popular-arrows {
  @media screen and (min-width: 790px) {
    width: 790px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 290px;
  }
}
.prev-popular {
  display: none;
  @media screen and (min-width: 790px) {
    display: block;
    transform: rotate(180deg);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.14);
    left: 0;
  }
}
.next-popular {
  display: none;
  @media screen and (min-width: 790px) {
    display: block;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.14);
    right: 0;
  }
}
