
/* ----------- global ----------- */
html * ,
::before ,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, YakuHanJP,"Helvetica Neue", "Segoe UI","Hiragino Kaku Gothic ProN","游ゴシック Medium", "Yu Gothic Medium",  Meiryo, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: $font_color;
    background: $none_color;
}

::first-letter {
    font-feature-settings : "palt" 1;
}
a {    
    text-decoration: none;
    font-weight: bold;
    color: $font_color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,ol,li {
    list-style: none;
    margin:0;
    padding: 0;
}

:focus {
    outline: 0;
    border: 0;
}

.accent_color {
    color: $accent_color;
}

.none {
    display: none;
}

/* ----------- header ----------- */
.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background: $none_color;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    z-index: 1;
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        padding: 7px 30px;
        height: 75px;
        
    }
    .logo {
        flex: 0 1 144px;
        transition: 0.7s ease;
        &:hover {
            opacity: 0.7;
        }
    }
    &-nav {
        flex: 0 1 600px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        &__list {
            text-align: center;
            max-width: 180px;
            transition: 0.4s ease;
            &:hover {
                opacity: 0.7;
                transform: translateY(-3px);
            }
        }
        &__list:nth-child(2n+1) &__link {
            color: $main_color;
        }
        &__list:nth-child(2n) &__link {
            color: $assort_color;
        }
        &__en {
            font-size: 1.2rem;
            display: block;
        }
    }
}


/* ----------- main ----------- */
.main {
    &__container {
        margin: 75px 0 0 0;
    }
}

/* ----------- mainVisual ----------- */
.main-visual {
    &__container {
        max-width: 100%;
        height: 648px;
        background: url($IMG_FES + "festival_mainVisual.png") no-repeat center center/cover;
        padding: 67px 0 33px 0;
        &::after {
            content: "";
            display: block;
            max-width: 100%;
            height: 20px;
            background: #e9ce42;
            margin: 33px 0 0 0;
        }
    }
    &__logo {
        max-width: 434px;
        margin: 0 auto;
        
    }
    &__desc {
        font-size: 2rem;
        line-height: 1.8em;
        color: $none_color;
        text-align: center;
        letter-spacing: 2px;
        padding: 0 0 35px 0;

    }
    &__time {
        max-width: 396px;
        margin: 30px auto 0;
        
    }
    &__place {
        max-width: 376px;
        margin: 22px auto 0;
        
    }
    &__wrapper {
        position: relative;
        max-width: 500px;
        margin: 0 auto;
    }
    &__btn-wrap {
        position: absolute;
        top: 20px;
        right: -200px;
        a {
            
        }
    }
    // btn
    .goPage__link, .store-open__link {
        color: $none_color;
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 55px;
        background: $assort_color;
        border-radius: 30px;
        margin-left: 30px;
        border: solid 2px $none_color;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
        transition: 0.3s ease;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
        }
    }
    .store-open__link{
        background: $accent_color;
        font-size: 1.4rem;
        line-height: 1.3em;
        text-align: center;
        margin-top: 13px;
        padding-top: 4px;
    }    
}



/* ----------- about ----------- */
.about {
    max-width: 960px;
    margin: 0 auto 0;
    padding-top: 105px;
    &__container {
        padding: 0 30px 120px 50px;
    }
    &__ttl {
        max-width: 449px;
        margin: 0 auto 110px;
    }
    &__illust {
        max-width: 776px;
        margin: 0 auto 60px;
    }
    &__desc {
        max-width: 610px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.8em;
        font-weight: normal;
    }
}
.meaning {
    margin: 185px 0 0 0;
    padding: 0 0 0 10px;
    @include aboutItem();    
    
}
.thought {
    @include aboutItem($main_color, "cabbage.svg");
    margin: 85px 0 0 0;
    padding: 0 7px 0 0;
    &__image {
        order: -1;
    }
}

/* ----------- about ----------- */

.charm {
    max-width: 100%;
    background: $bak_color;
    &__container {
        max-width: 960px;
        margin: 0 auto;
        padding: 90px 0 104px 0;
    }
    &__ttl {
        max-width: 445px;
        margin: 0 auto 50px;
    }
    &__desc {
        max-width: 536px;
        text-align: center;
        line-height: 2.5em;
        margin: 0 auto;
    }
}
.charm-item__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0 0;
    
}
.charm-item {
    max-width: 276px;
    &__ttl {
        font-size: 2.4rem;
        text-align: center;
    }   
        &:first-child {
            @include charm-item(142px,"japan_i.svg","point_one.svg",25px);
        }   
        &:nth-child(2) {
            @include charm-item(216px,"curry_i.svg","point_two.svg", 90px);
        }   
        &:last-child {
            @include charm-item(192px,"leaf_i.svg","point_three.svg",90px);
            .charm-item__ttl {
                &::before {
                    max-width: 123px;
                    transform: translateX(33px) translateY(59px);
                }
            }
        }   
    &__desc {
        line-height: 1.8em;
        font-weight: normal;
        max-width: 241px;
    }
}


/* ----------- about ----------- */
.restaurant-list {
    &__container {
        max-width: 100%;
        background: url($IMG_FES + "plan_restaurant.jpg") no-repeat center center;
            padding: 100px 0 120px;
    }
    &__ttl {
        font-size: 3.2rem;
        text-align: center;
        color: $main_color;
        line-height: 1.3em;
        letter-spacing: 2px;
        max-width: 240px;
        margin: 0 auto;
        &::after {
            content: "";
            display: inline-block;
            width: 90px;
            height: 7px;
            background: $main_color_dark;
            border-radius: 25px;
            transform: translateY(-10px);
        }
        &__small {
            color: $font_color;
            font-size: 2.4rem;
        }
        &__restaurant {
            display: block;
            color: $assort_color;
        }
    }
    &__table {
        max-width: 500px;
        text-align: center;
        margin: 27px auto 0;
        font-weight: normal;
    }
    &__data {
        display: inline-block;
        color: #616161;
        position: relative;
        margin: 15px 0 0 40px;
        &::after {
            content: "";
            display: inline-block;
            width: 2px;
            height:  55px;
            background: $border_line_color;
            position: absolute;
            right: -22px;
            top: -4px;
        }
    }
    &__data:first-child {
        margin: 15px 0 0 0;
    }
    &__data:last-child {
        &::after {
            background: none;
        }
    }
    
}


/* ----------- event ----------- */
.event {
    
    &__ttl {
        max-width: 382px;
        margin: 105px auto 78px;
    }   
}
.event-item {
    display: flex;
    max-width: 785px;
    margin: 0 auto;
    padding: 0 17px 30px 0;
    border-bottom: solid 3px $border_line_color;
    justify-content: space-between;
    &__ttl {
        font-size: 3.2rem;
        &::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 44px;
            background: $accent_color;
            vertical-align: -9px;
            margin: 0 15px 0 0;
        }
        &__wrap {
            display: flex;
            align-items: baseline;
            margin: 0 0 26px 0;
        }
    }
    &__free {
        font-size: 1.2rem;
        width: 90px;
        height: 22px;
        margin: 0 0 0 10px;
        background: $accent_color;
        color: $none_color;
        line-height: 22px;
        text-align: center;
        border-radius: 25px;
        transform: translateY(-5px);
    }
    &__time__ttl {
        font-size: 2rem;
        letter-spacing: 1px;
    }
    &__time {
        max-width: 233px;
        font-weight: normal;
    }
    &__place__ttl {
        font-size: 2rem;
        margin: 15px 0 0 0;
    }
    &__place {
        font-weight: normal;
    }
    &__map {
        max-width: 114px;
        height: 27px;
        background: $main_color_dark;
        color: $none_color;
        text-align: center;
        line-height: 27px;
        font-size: 1.4rem;
        border-radius: 25px;
        margin: 23px auto 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
    }
    &__logo {
        width: 350px;
        order: -1;
    }
}

.event-item-junior {
    display: flex;
    justify-content: space-between;
    max-width: 787px;
    margin: 0 auto;
    padding: 50px 0 176px 0;
    &__ttl {
        font-size: 2.4rem;
        margin: 0 0 22px 0;
        &::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 44px;
            background: $accent_color;
            vertical-align: -11px;
            margin: 0 15px 0 0;
        }
    }
    &__desc {
        font-weight: normal;
        line-height: 1.8em;
        max-width: 390px;        
    }
    &__explain {
        font-size: 2rem;
        margin: 33px 0 4px 0;
    }
    &__explain__desc {
        font-size: 1.4rem;
        font-weight: normal;
    }
    &__image {
        max-width: 312px;
        order: -1;
    }
}

/* ----------- store-merit ----------- */
.store-merit {
    background: $bak_color;
    border-top: solid 20px $bak_color2;
    padding: 0 0 160px 0;
    &__container {
        max-width: 940px;
        margin: 0 auto;
        padding: 170px 0 0 0;
        
    }
    &__ttl {
        max-width: 569px;
        margin: 0 auto;
        
    }
}
.merit-item__wrapper {
    display: flex;
    justify-content: space-between;
}
.merit-item {
    margin: 130px 0 0 0;
    &__shop {
        @include merit-item("shop_up_i.svg",165px,11px);
    }
    &__farmer {
        @include merit-item("farmer_up_i.svg",124px,5px);
    }
    &__menu {
        @include merit-item("new_cooking_menu_i.svg",163px,5px);
    }
    &__desc {
        max-width: 240px;
        font-weight: normal;
        line-height: 1.8em;
    }
}





.fes-checkBtn__link {
    @include check_btn(65px,0.14,$accent_color,272px,50px);
}
.fes-checkBtn__mini__link {
    @include check_btn(20px,0.14,$accent_color,173px,42px,42px);
}






















