
// ====================
// メインビジュアル
// ====================
.main-visual {
    margin: 54px 0 0 0;
    position: relative;

    padding: 257px 0 143px 0;
    width: 100%;
    background: url($img + "mainvisual.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include pc {
        padding: 215px 0 231px;
        background-position: left top;
        background-size: cover;
    }
    @include tb {
        margin: 152px 0 0 0;
    }
    &__container {
        @include pc {
            max-width: 800px;
            margin: 0 auto 0;
        }
    }
    &__logo {
        max-width: 205px;
        margin: 0 auto;
        @include pc {
            margin: 0 auto 0 0;
            max-width: 309px;
        }
    }
    
    &__phrase {
        font-size: 1.2rem;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 27px 0 0 0;
        @include pc {
            text-align: left;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}

// ====================
// メインビジュアルのScroll表記
// ====================
.scrollDown {
    text-align: center;
    letter-spacing: 0.04em;
    position: absolute;
    bottom: 5px;
    left: 0; right: 0;
    a {
        position: relative;
        @include arrowDown(30px,16px,20px,20px,$font_color);
    }
}