p.contact-txt お問い合わせ
footer.footer
    .footer__container
        p
            small &copy; Find.web 2019
script(src="js/teachers_data.js")
script(src="js/teachers.js")
script(src="js/schedule.js")
script(src="https://embed.small.chat/TLGA8SMK6GLJKUE89M.js" async)
script(src="js/script.js")
