@charset "utf-8";

/* main_color */
$main_color1: #1d8f2d;
$main_color_dark: #689d38;
$assort_color: #ff9f34;
$accent_color: #f15f7a;
$separation_color: #c07bd6;
$separation_color2: #ffea00;
$separation_color3: #ecbd18;
$font_color: #333333;
$pale_font_color: #787878;
$bak_color: #fae2b1;

$none_color: #fff;



$IMG_GLOBAL: "../../images/global_i/";
$IMG_VEGE: "../../images/vegetable_i/";
$IMG_PHOTO: "../../images/photo/";
$IMG_JUNIOR: "../../images/junior_farming/";