// TOPのメインビジュアル
.main-visual {
    &__logo {
        transform: translateX(-45px);
        @include pc {
            width: 420px;
            transform: translateX(-66px);
        }
    }
    &__container {
        position: relative;
        text-align: center;
    }
    // 左にずれている
    &__wrapper {
        display: flex;
        margin: 0 0 0 -230px; // 左にずらす
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        @include pc {
            margin: 0 0 0 -150px; // 左にずらす
        }
    }
    &__main-circle {
        width: 612px;
        @include pc {
            width: 552px;
        }
    }
    // 右側
    &__right {
        margin: -50px 0 0 62px;
    }
    &__txt {
        font-size: 3rem;
        color: $main_color;
        font-weight: bold;
        letter-spacing: 0.3em;
        margin: 34px 0 0 52px;
        font-feature-settings: "palt";
        @include pc {
            margin: 34px 0 0 44px;
        }
    }
    &__sub-txt { // HIROKI OGURA PORTFOLIO
        letter-spacing: 0.2em;
        margin: 65px 0 0 0;
        @include pc {
            padding-left: 30px;
        }
    }

    // スクロール
    &__scroll a {
        font-size: 1.4rem;
        font-family: $font1;
        // font-weight: bold;
        letter-spacing: 0.3em;
        transition: 0.3s ease;
        position: absolute;
        bottom: 65px;
        left: 50%;
        transform: translate(-50%,0);
        @include arrow1();
        
        &:hover {
            letter-spacing: 0.5em;
        }
        &::after {
            top: 32px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border: {
                top: 2px solid $accent_color;
                right:2px solid $accent_color;
            }
        }
        @include pc {
            bottom: 40px;
            &::after {
                top: 27px;
            }
        }
    }
}


// 下層ページのメインビジュアル
.main-visual--sub {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__ttl {
        margin: -80px 0 38px -70px;
    }
    &__txt {
        font-size: 2.6rem;
        font-weight: bold;
        letter-spacing: 0.3em;
        color: $main_color;
    }
}