
/* ----------- global ----------- */
html * ,
::before ,
::after {
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, YakuHanJP,"Helvetica Neue", "Segoe UI","Hiragino Kaku Gothic ProN","游ゴシック Medium", "Yu Gothic Medium",  Meiryo, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: $font_color;
    background: $none_color;
}

::first-letter {
    font-feature-settings : "palt" 1;
}
a {    
    text-decoration: none;
    font-weight: bold;
    color: $font_color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,ol,li {
    list-style: none;
    margin:0;
    padding: 0;
}

:focus {
    outline: 0;
    border: 0;
}

.none {
    display: none;
}

.mainColor {
    color: $main_color;
}
.mainColorDark {
    color: $main_color_dark;
}
.assortColor{
    color: $assort_color;
}
.accentColor{
    color: $accent_color;
}
/* ----------- header ----------- */
.header {
    background: $none_color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    height: 79px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    .logo {
        flex: 0 1 134px;
        transform: translateY(5px);
        transition: 0.7s ease;
        &:hover {
            opacity: 0.7;
        }
    }
    &-nav {
        flex: 0 1 600px;
        transform: translateY(-3px);
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__link {
            font-size: 1.8rem;
        }
        &__list {
            transition: 0.4s ease;
            &:hover {
                opacity: 0.7;
                transform: translateY(-3px);
            }
        }
        &__list:first-child &__link {
            color: $main_color_dark;
        }
        &__list:nth-child(2) &__link {
            color: $assort_color;
        }
        &__list:nth-child(3) &__link {
            color: $accent_color;
        }
        &__list:nth-child(4) &__link {
            color: $separaiton_color;
        }
    }

}

/* ----------- main-visual ----------- */
.main-visual {
    margin: 79px 0 0 0;
    padding: 89px 0 114px 0;
    background: url($IMG_FARMER + "be_farmer_mainVisual.png") no-repeat center center/cover $bak_color;
    &__wrapper {
        max-width: 463px;
        height: 451px;
        margin: 0 auto;
        background: url($IMG_FARMER + "farmer-support_mainVisual.svg") no-repeat;
        position: relative;
    }
    &__catch {
        position: absolute;
        top: 150px;
        right: 0;
        left: 0;
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
        font-size: 5.9rem;
        line-height: 1.1em;
        color: $none_color;
    }
    &__small__font {
        font-size: 4.5rem;
    }
    &__middle__font {
        font-size: 3.7rem;
        display: block;
        
    }
}

/* ----------- about ----------- */
.about {
    margin: 126px 0 0 0;
    padding: 37px 0 30px 0; 

    background:  url($IMG_FARMER + "be_farmer_about_bak.jpg") no-repeat center center/cover;
    &__container {
        max-width: 1070px;
        background: url($IMG_FARMER + "about_circle_bak.png") no-repeat center center;
        margin: 0 auto;
    }
    &__ttl {
        font-size: 5.2rem;
        color: $main_color_dark;
        text-align: center;
        line-height: 1.2em;
        margin: 0 0 66px 0;
        padding: 60px 0 0 0;
        &::after {
            content: "";
            display: block;
            max-width: 70px;
            height: 8px;
            background: $main_color_dark;
            margin: 26px auto 0;
            border-radius: 25px;
        }
        &__small {
            display: block;
            font-size: 3rem;
            color: $font_color;
        }
    }
    &__desc {
        line-height: 1.8em;
        max-width: 566px;
        margin: 0 auto 43px;
        text-align: center;
        font-weight: normal;
    }
}
.about__desc:last-child {
    padding: 0 0 137px 0;
    margin: 0 auto 0;
}

/* ----------- farmer-life ----------- */
.farmer-life {
    max-width: 900px;
    margin: 0 auto 0;
    @include global_ttl(250px);
}
.life-item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 90px 0;
    &__wrap {
        flex: 0 1 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__ttl {
        font-size: 2.8rem;
        line-height: 1.3em;
        margin: 0 0 30px 0;
        
    }
    &__text {
        font-weight: normal;
        line-height: 1.8em;
        
    }
    &__image {
        flex: 0 1 427px;
    }
}
.hobby {
    .life-item__image {
        order: -1;
    }
}

/* ----------- family ----------- */
.family {
    background: $bak_color;
    &__container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 0 64px 0;
    }
    @include global_ttl(460px);
    &__text {
        font-size: 2.2rem;
        text-align: center;
        &__small {
            font-size: 1.6rem;
            display: block;
        }
    }
    &__note {
        font-size: 1.2rem;
        color: $pale_color;
        text-align: center;
        font-weight: normal;
        margin: 15px 0 0;
    }
}

.example {
    position: relative;
    z-index: 0;
    margin: 45px 0 0 0;
    &::before {
        content: "";
        display: block;
        width: 873px;
        height: 100%;
        border: solid 1px $main_color_dark;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: -10;
    }
    &__wrapper {
        background: $none_color;
        max-width: 873px;
        padding: 31px 0;
        display: flex;   
    }
    &__wrap {
        padding: 6px 0 0 0;
        background: $none_color;
        display: flex;
        flex-direction: column;
    }
    &__ttl {
        font-size: 3.4rem;
        margin: 30px 0 0;
        &__small {
            font-size: 2.2rem;
            display: block;
        }
    }
    &__text {
        max-width: 390px;
        color: $pale_color;
        font-weight: normal;
        font-size: 1.2rem;
        margin: 22px 0 46px 0;
    }

    &__case {
        background: $accent_color;
        max-width: 259px;
        padding: 1px 0;
        color: $none_color;
        text-align: center;
        order: -1;
    }
    &__image {
        flex: 0 1 428px;
        order: -1;
        background: $none_color;
        display: flex;
        align-items: center;
        padding: 0 0 0 42px;
    }
}


/* ----------- family ----------- */
.problem {
    &__container {
        max-width: 860px;
        margin: 121px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__ttl {
        font-size: 2.8rem;        
        flex: 0 1 230px;
        transform: rotate(-10deg);
        &__big {
            display: block;
            color: $accent_color;
            font-size: 7.6rem;
            position: relative;
            transform: translateY(-11px);
            &::before {
                content: "";
                display: block;
                max-width: 100%;
                height: 6px;
                background: $accent_color;
                position: absolute;
                bottom: 8px;
                left: 0;
                right: 0;
            }
            &::after {
                content: "";
                display: block;
                max-width: 100%;
                height: 6px;
                background: $accent_color;
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
            }
        }
    }
    &__text {
        font-size: 1.8rem;
        line-height: 1.7em;
        font-weight: normal;
        flex: 0 1 573px   
    }
}

.problem-list {
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    margin: 84px auto 0;
    &__item {
        flex: 0 1 200px;
        height: 200px;
        background: $accent_color;
        border-radius: 50%;
        color: $none_color;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ----------- no-cost ----------- */
.no-cost {
    max-width: 1000px;
    margin: 0 auto;
    @include global_ttl(395px);
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-bottom: 38px solid $assort_color;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: rotate(180deg);
    }
    &::after {
        content: "";
        display: block;
        width: 39px;
        height: 28px;
        position: absolute;
        top: 73px;
        left: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $assort_color;
    }
}
.cost-support {
    &__wrapper {
        display: flex;
        justify-content: space-between;   
    }
    &__wrap {
        flex: 0 1 470px;
        padding: 0 0 0 38px;
    }
    &__ttl {
        font-size: 3.2rem;
    }
    &__desc {
        color: $pale_color;
        font-weight: normal;
        line-height: 1.8em;
        margin: 44px 0 50px 0;
    }
    .support-point__ttl {
        font-size: 2.2rem;
        color: $assort_color;
        margin: 0 0 15px 0;
    }
    .support-point {
        &__list {
            background: #efefef;
            padding: 10px 0;
            margin: 0 0 3px 0;
            &::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                background: $assort_color;
                border-radius: 50%;
                margin: 0 27px 0 25px;
                transform: translateY(-3px);
            }
        }
    }
    &__image {
        flex: 0 1 441px;   
    }
}
.merit-list {
    display: flex;
    justify-content: space-between;
    max-width: 832px;
    margin: 104px auto 0;
}
.merit-list__item:first-child {
    @include merit-item("money_i.svg");
}
.merit-list__item:nth-child(2) {
    @include merit-item("tractor_i.svg");
}
.merit-list__item:last-child {
    @include merit-item("house_i.svg");
}

/* ----------- to-farmer ----------- */
.to-farmer {
    @include global_ttl(364px);
    padding: 0 0 180px 0;
}
.fail {
    background: url($IMG_FARMER + "lack_study_bak.jpg") no-repeat center center/cover;
    @include to-farmer_item($accent_color,0 0 0 auto);
}
.study-support {
    background: url($IMG_FARMER + "study_support_bak.jpg") no-repeat center center/cover;
    margin: 20px 0 0 0;
    @include to-farmer_item($main_color_dark,0 auto 0 0);
}

.process {
    max-width: 870px;
    margin: 0 auto;
    &__ttl {
        font-size: 4.2rem;
        margin: 170px auto 124px;
        text-align: center;
    }
}
.step-one {
    @include step(-1,$accent_color);
}
.step-two {
    @include step(1,$separaiton_color);
}
.step-three {
    @include step(-1,$main_color_dark);
}
.step-four {
    @include step(1,#ccc966);
    margin: 0;
}

/* ----------- target ----------- */
.target {
    background: $bak_color;
        padding: 0 0 56px 0;
        @include global_ttl(364px);
    &__wrapper {
        
        max-width: 1000px;
        margin: 0 auto;
    }
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 840px;
        margin: 0 auto;
        
    }
    &__list {
        
        font-size: 2rem;
    }
    &__item {
        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: $main_color_dark;
            margin: 0 21px 0 0;
        }
        &::after {
            content: "";
            display: block;
            max-width: 400px;
            height: 3px;
            background: $accent_color;
            margin: 13px 0 35px 21px;
        }
    }
    &__image {
        flex: 0 1 166px;
        margin: 0 auto;
        order: -1;
    }
    .farmer-checkBtn__link {
        @include farmer-checkBtn(200px,45px,$assort_color);
        margin: 50px auto 0;
    }
}


/* ----------- guide ----------- */
.guide {
    @include global_ttl(355px);
    padding: 0 0 200px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }
    &__logo {
        flex: 0 1 217px;
    }
    &__wrapper {
        flex: 0 1 500px;
    }
    &__date,&__place {
        font-size: 1.4rem;
        font-weight: normal;
        color: $assort_color;
        padding: 0 0 3px 0;
    }
/* date */
    &__date__wrap {
        margin: 0 0 25px 0;
        position: relative;
        padding: 0 0 0 27px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 50px;
            background: $assort_color;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__date {
        &__text {
            font-size: 2rem;
            transform: translateY(-3px);
        }
    }
    
/* place */
    &__place__wrap {
        position: relative;
        padding: 0 0 0 27px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 78px;
            background: $assort_color;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__place {
        &__text {
            font-size: 1.8rem;
        }
    }
    &__note {
        font-size: 1.4rem;
        font-weight: normal;
        margin: 10px 0 0 0;
        color: $pale_color;
        &::before {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background: $assort_color;
            margin: 0 10px 0 0;
            transform: translateY(-2px);
        }
    }
}


.farmer-checkBtn__link {
    @include farmer-checkBtn(265px,45px,$main_color_dark);
}


