/* ----------- header_icon ----------- */
@mixin menu_main_icon($img_path, $w:55px, $h:53px,$mB:5px,$top:5px) {
        content: "";
        display: block;
        background: url($IMG_GLOBAL + $img_path) no-repeat;
        width: $w;
        height: $h;
        margin: 0 auto $mB;
        position: relative;
        top: $top;
}

@mixin menu_sub_icon($img_path, $w:21px , $h:21px,$mR:10px,$top:0) {
        content: "";
        display: inline-block;
        background: url($IMG_GLOBAL + $img_path) no-repeat;
        width: $w;
        height: $h;
        margin: 0 $mR 0 0;
        position: relative;
        top: $top;
}

@mixin account_btn($color:$main_color_dark) {
        display: block;
        width: 118px;
        height: 27px;
        border-radius: 25px;
        background: $color;
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
        line-height: 27px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.15);
}




/* ----------- btn ----------- */
@mixin check_btn($m,$shadow:0.14,$color:$main_color,$w:226px,$h:45px,$aW:10px,$aH:14px) {
        display: block;
        text-align: center;
        line-height: 45px;
        background: $color;
        width: $w;
        height: $h;
        border-radius: 25px;
        color: $none_color;
        box-shadow: 0 4px 4px rgba(0,0,0,$shadow);
        margin: $m auto 0;
        &::after {
          content: "";
          display: inline-block;
          background: url($IMG_GLOBAL + "btn_arrow.svg") no-repeat;
          width: $aW;
          height: $aH;
          position: relative;
          left: 10px;
          top: 1px;
          transition: 0.7s ease;
        }  
}





/* ----------- square ----------- */
@mixin square($color,$vertical,$side,$deg:0,$top:0) {
        background: url($IMG_GLOBAL + "square_" + $color + ".svg") no-repeat;
        width: 100px;
        height: 100px;
        position: absolute;
        #{$vertical}: $top;
        #{$side}: 0;
        transform: rotate($deg);
        @include sp {
                width: 35px;
                height: 35px;
        }   
        
}




/* ----------- search ----------- */
@mixin search_selectBOX($w:167px){
        width: $w;
        height: 32px;
        padding: 0 0 0 20px;
        border-radius: 25px;
        box-shadow: 2px 4px 12px 1px rgba(0,0,0,0.09);
        color: #bbbbbb;
        
        overflow: hidden;
        font-size: 1.4rem;
        position: relative;   
        cursor: pointer;
}

@mixin search_input($t:3px,$r:11px) {
        &::after {
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url($IMG_GLOBAL + "btn_arrow.svg") no-repeat center center/ 18px 14px $assort_color ;
            box-shadow: 3px 0 5px rgba(0,0,0,0.17);
            border-radius: 25px;
            transform: rotate(90deg);
            position: absolute;
            top: $t;
            right: $r;
            pointer-events: none;
        }
        
}

@mixin submitBtn() {
        width: 90px;
        height: 32px;
        background: $accent_color;
        border-radius: 25px;
        color: #fff;
        padding-left: 15px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.09);
        transition: 0.7s ease;
        &:hover {
                opacity: 0.8;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 6px;
            left: 11px;
            transform: rotate(266deg);
            background: url($IMG_GLOBAL + "search_white.svg") no-repeat;
        }
}




/* ----------- right_column ----------- */
@mixin right_column(){
        display: flex;
        flex: 0 1 735px;
        margin: 0 0 0 27px;
        position: relative;
        &__container {
                background: $none_color;
                box-shadow: 3px 3px 29px rgba(202,139,78,0.1);
                padding: 7px 65px 55px 50px;
                width: 100%;
        }
}




/* ----------- round_bak ----------- */
@mixin round_bak($w,$h,$color) {
        width: $w;
        height: $h;
        background: $color;
        border-radius: 50px;
        color: $none_color;
        text-align: center;
        line-height: $h;
        letter-spacing: 1px;
}




/* ----------- en-icon-heading ----------- */
@mixin en_icon_heading($img,$w:100px,$h:100px) {
        &__ttl {
                font-size: 2.6rem;
                text-align: center;
                line-height: 1em;
                height: 95px;
                padding-top: 25px;
                background: url($IMG_GLOBAL + $img) no-repeat center center / $w $h;
                margin: 0 0 31px 0;
        &::after {
            content: "";
            display: block;
            width: 58px;
            height: 4px;
            background: $main_color_dark;
            margin: 5px auto 0;
            border-radius: 15px;
        }
    }
    &__en {
        display: block;
        font-size: 1.6rem;
        font-weight: normal;
    }
}

@mixin heading_square() {
        &::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 42px;
            background: $main_color_dark;
            vertical-align: -9px;
            margin: 0 23px 0 0;
        }
}


/* ----------- symbol_page_ttl ----------- */
@mixin symbol_page_ttl($color:#fff) {
     &__ttl {
        font-size: 4.2rem;
        text-align: center;
        letter-spacing: 2px;
        @include sp {
                font-size: 3.2rem;
        }
        &::after {
            content: "";
            display: block;
            max-width: 58px;
            height: 4px;
            background: $color;
            margin: 25px auto 0;
            border-radius: 25px;
        }
    }
    &__sub-ttl {
        color: $color;
        font-size: 2rem;
        display: block;
        letter-spacing: 5px;
        @include sp {
                font-size: 1.6rem;
        }
    }
}



/* ----------- arrow ----------- */
@mixin arrow($color:#333,$degB:137deg,$degA:-136deg,$lateBx:38px,$lateAx:38px,$lateBy:13px,$lateAy:9px) {
        position: relative;
        &::after,&::before {
             content: "";
            display: block;
            width: 7px;
            height: 2px;
            background: $color;
            position: absolute;
            transform: rotate(90deg);
        }
        &::before {
                transform: translate($lateBx, $lateBy) rotate($degB);
            top:0;
        }
        &::after {
            transform: translate($lateAx, $lateAy) rotate($degA);
            top: 0;
        }
}

@mixin arrowRight() {
        &::after {
            content: "";
            display: inline-block;
            background: url($IMG_GLOBAL + "btn_arrow-black.svg") no-repeat;
            width: 8px;
            height: 11px;
            margin: 0 12px 0;
        }
}



/* ----------- sparkle ----------- */
@mixin sparkleSide($tAx:23px,$tBx:-23px,$tY:9px) {
        &::after {
            content: "";
            display: inline-block;
            width: 35px;
            height: 42px;
            background: url($IMG_GLOBAL + "sparkle_i.svg") no-repeat;
            transform: translate($tAx,$tY);
        }
        &::before {
            content: "";
            display: inline-block;
            width: 35px;
            height: 42px;
            background: url($IMG_GLOBAL + "sparkle_i.svg") no-repeat;
            transform: translate($tBx,$tY);
        }
}





/* ----------- left_icon ----------- */
@mixin left_icon($color:$accent_color,$icon:"cart_i.svg",$w:17px,$h:15px) {
        width: 112px;
        height: 30px;
        background: $color;
        border-radius: 50px;
        position: relative;
        padding: 5px 0 0 36px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
                opacity: 0.7;
        }
        a {
                color: $none_color;
                font-size: 1.4rem;
        }
        &::after {
                content: "";
                display: inline-block;
                background: url($IMG_GLOBAL + $icon) no-repeat;
                width: $w;
                height: $h;
                position: absolute;
                top: 7px;
                left: 13px;
        }
}



/* ----------- footer ----------- */
@mixin footer_sub-list($top:0,$p:0) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 900px;
        margin: $top auto 0;
        padding: 0 $p;
}


/* ----------- media ----------- */
$pc: 1024px; // パソコン
$tb: 868px; // タブレット
$sp: 480px;  // スマートフォン

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: ($tb)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
