/* ----------- search-left(left-column) ----------- */
.search-leftbar {
    display: flex;
    flex: 0 0 218px;
    background: $none_color;
    border-radius: 4px;
    height: 630px;
    box-shadow: 3px 3px 29px rgba(202,139,78,0.1);
    @include sp {
        display: none;
    }
    &__container {
        width: 100%;
    }
    /* ttl */
    &__ttl-bak {
        height: 43px;
        padding: 13px 0 14px;
        box-sizing: content-box;
        border-bottom: solid 6px $main_color_dark;
        border-radius: 4px 4px 0 0;
        background: $main_color;
        position: relative;
            &::before {
            content: "";
            display: block;
            width: 60px;
            height: 60px;
            background: url($IMG_GLOBAL + "search_i.svg") no-repeat center center/ 60px 60px;
            transform: rotate(180px);
            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: rotate(266deg);
        }
    }
    &__ttl {
        font-size: 2rem;
        text-align: center;
        position: relative;

    }
    &__en {
        font-size: 1.4rem;
        font-weight: normal;
        display: block;
        transform: translateY(-3px);
    }

    //  search_form
    &__form {
        max-width: 187px;
        margin: 0 auto;
    }
    &__keywordBox {
        margin: 37px 0 26px;
        @include search_selectBOX(185px);    
        &::placeholder {
            color: #bbbbbb;
        }
    }
    &__pref-select__wrapper {
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url($IMG_GLOBAL + "btn_arrow.svg") no-repeat center center/ 18px 14px $assort_color ;
            box-shadow: 3px 0 5px rgba(0,0,0,0.17);
            border-radius: 25px;
            transform: rotate(90deg);
            position: absolute;
            top: 3px;
            right: 16px;
            pointer-events: none;
        }
        
    }
    &__pref-select {
        @include search_selectBOX(185px);    
    }
    &__submit-wrapper {
        text-align: center;
        margin: 30px 0 0;
    }
    &__submit {
        position: relative;
        @include submitBtn();
        
    }

}
// vegetable-select
.vegetable-select {
    margin-top: 35px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 170px;
        margin: 0 auto;
    }
    &__list {
        margin: 0 0 10px 0;
        border-radius: 10px;
        transition: 0.7s ease;

        display: flex;
        flex-wrap: wrap;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        width: 30px;
        height: 34px;
        margin: 0 auto;   
        pointer-events: none;
    }
    &__label {   
        transition: 0.4s ease;
        cursor: pointer;
    }
    &__input {
        display: none;
    }
}
.vege_checkbox {
    transform: scale(0);
    
    
}
.vege_bak {
    background-color: rgb(250, 226, 177);
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 12px;
}