@import "_variable.scss";
@import "_mixin.scss";
@import "_global.scss";
@import "_yasai_header.scss";
@import "_yasai_footer.scss";
@import "_search_left.scss";


.main-container {
    padding-top: 160px;
    max-width: 980px;
    margin: 0 auto;
    @include sp {
        padding: 0;
    }   
}


/* ----------- column-wrapper ----------- */
.main-column {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
}




/* ----------- result(right-column) ----------- */
.new-farmer {
    @include right_column();
    @include sp {
        max-width: 100%;
        margin: 0;
    }
    &::before {
        display: none;
    }
    &__container {
        padding: 0 65px 65px 50px;
        border-radius: 4px;
        @include sp {
            padding: 0;
        }
    }
    &__ttl-wrapper {
        margin: 0 -65px 0 -50px;
        height: 545px;
        background: $main_color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 4px 4px 0 0;
        @include sp {
            width: 100%;
            margin: 0 auto;
        }
    }
    &__ttl {
        img {
            max-width: 282px;
            display:block;
            margin: 0 auto;
            @include sp {
                max-width: 240px;
            }
        }
    }
    &__desc {
        text-align: center;
        margin: 0 auto;
        max-width: 342px;
        line-height: 1.8em;
        max-width: 250px;
    }
    
    &__highlight__ttl {
        font-size: 2.8rem;
        color: $none_color;
        background: $accent_color;
        height: 67px;
        line-height: 67px;
        margin: 86px -65px 0 -50px;
        text-align: center;
        box-shadow: 0 4px 5px rgba(0,0,0,0.05);
        @include sparkleSide();
        @include sp {
            width: 100%;
            margin: 85px auto;
            &::before,&::after {
                display: none;
            }
        }
    }
}



@mixin topIcon($img) {
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 29px;
        height: 27px;
        background: url($IMG_GLOBAL + $img) no-repeat;
        position: absolute;
        top: -35px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.farmer-one,.farmer-two, .farmer-three {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    @include sp {
        display: block;
        padding: 0;
        margin: 40px 0 0;
    }
    &__name {
        text-align: center;
        line-height: 1.8rem;
        margin: 10px 0 0 0;
    }
    &__carrier {
        font-size: 1.2rem;
        display: block;
        color: $pale_text_color;
        font-weight: normal;
    }
    &__image {
        img {
            border-radius: 4px;    
            @include sp {
                margin: 0 auto;
            }
        }
        
    }
}

.farmer-one {
    padding-bottom: 20px;
    margin-top: 57px;
    &__image {
        @include topIcon("crown_i_yellow.svg");
    }
    
}
.farmer-two {
    padding: 20px 0 20px;
    border-top: solid 1px $border_line_color;
    &__image {
        @include topIcon("crown_i_gray.svg");
    }
}
.farmer-three {
    padding-top: 20px;
    border-top: solid 1px $border_line_color;
    &__image {
        @include topIcon("crown_i_brown.svg");
    }
    
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    @include sp {
        
    }
}
.item__link {
    margin: 0 auto 0;
    max-width: 85%;
    
}





/* ----------- search(left-column) ----------- */
.search-leftbar { /* overwrite */
    &__ttl {
        &::before {
            content: "新人";
        }
    }
    &__ttl-bak {
        border-bottom: solid 6px $dirt_color;
        background: $pale_dirt_color;
        &::before {
            background: url($IMG_GLOBAL + "search_cream_i.svg") no-repeat center center/ 60px 60px;
        }
    }
}

