@import "_variable.scss";
@import "_mixin.scss";
@import "_global.scss";
@import "_yasai_header.scss";
@import "_yasai_footer.scss";

.main-container {
    margin-top: 223px;
    @include sp {
        margin: 0;
    }
}
.main-container__content {
    background: $none_color;
    box-shadow: 3px 3px 29px rgba(202,139,78,0.1);
}

/* ----------- product ----------- */
.product {
    .product__ttl {
        max-width:  100%;
        height: 141px;
        background: $accent_color;
        font-size: 3.2rem;
        color: $none_color;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 10px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.09);
        &__text {
            @include sparkleSide(33px,-33px,-5px);
        }
    }    
    &__en {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1px;
        display: block;
    }
    &__container {
        max-width: 780px;
        margin: 0 auto;
        margin-top: 123px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    //images
    &__images {
        @include sp {
            max-width: 324px;
            margin: 0 auto;
        }
    }
    &__image {
        max-width: 324px;
        &-smalls {
            max-width: 171px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            @include sp {
                max-width: 200px;
                margin: 20px auto 0;
            }
        }
        &__item {
            cursor: pointer;
            opacity: 0.4;
            transition: 0.4s ease;
        }
        &__opacity1 {
            opacity: 1;
        }
    }

    // item
    &__item {
        max-width: 355px;
        @include sp {
            max-width: 320px;
            margin: 50px auto;
            padding: 0 12px;
        }
    }
    &__name {
        font-size: 3.2rem;
        @include heading_square();
    }
    &__weight {
        font-size: 2rem;
        font-weight: normal;
        margin: 0 0 0 12px;
    }
    &__star {
        max-width: 130px;
        margin: 0 0 0 auto;
        padding: 13px 0 15px 0;
    }
    &__price {
        font-size: 3.2rem;
    }
    &__tax {
        font-size: 1.4rem;
        font-weight: normal;
        color: $pale_text_color;
        margin: 0 0 0 7px;
    }
    &__shipment {
        font-size: 1.4rem;
        margin: 0 0 22px 0;
        &-date {
            font-weight: normal;
            color: $assort_color;
        }
        &-thin {
            font-weight: normal;
        }
    }
    &__text {
        font-weight: normal;
        line-height: 1.8em;
    }

    // btn
    &__btn {
        display: flex;
        max-width: 240px;
        justify-content: space-between;
        margin: 31px 0 18px;
        @include sp {
            margin: 20px auto 25px;
        }
        &__buyBtn {
            @include left_icon();
            padding: 4px 0 0 36px;
        }
        &__regularlyBtn {
            @include left_icon($main_color,"regularly_i.svg",20px);
            padding: 4px 0 0 36px;
        }
    }
}

/* ----------- farmer-costmer ----------- */
.farmer-costomer {
    display: flex;
    justify-content: space-between;
    margin: 150px auto 0 ;
    padding: 0 0 106px 0;
    max-width: 780px;
    flex-wrap: wrap;
    @include sp {
        margin: 70px auto 0;
    }
}

// farmer-detail 
.farmer-detail {
    max-width: 300px;
    @include sp {
        max-width: 100%;
        margin: 0 auto;
    }
    &__ttl {
        font-size: 2rem;
        text-align: center;
        background: #eeeeee;
        margin: 0 0 40px 0;
        height: 37px;
        line-height: 37px;
        @include sp {
            padding: 10px 0;
            height: auto;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 28px;
            height: 21px;
            background: url($IMG_GLOBAL + "farmer_house_i.svg") no-repeat;
            transform: translate(-10px, 3px);
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 32px 0;
        @include sp {
            // padding: 0 80px;
            max-width: 96px;
            margin: 0 auto;
            padding: 0;
            
            display: block;
        }
    }
    &__wrap {
        flex: 0 1 154px;
        padding-left: 30px;
        @include sp {
            padding: 0;
        }
    }
    &__farmer-pref {
        font-size: 1.2rem;
        color: #bdbdbd;
        font-weight: normal;
        margin: 0 0 20px 0;
    }
    &__image {
        flex: 0 0 85px;
        height: 96px;
    }
    &__favoriteBtn {
        position: relative;
        a {
            display: block;
            font-size: 1.2rem;
            max-width: 95px;
            height: 21px;
            border-radius: 4px;
            background: $assort_color;
            color: $none_color;
            padding: 1px 0 0 24px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.15);
        }
        &::after {
            content: "";
            display: inline-block;
            background: url($IMG_GLOBAL + "star_i_white.svg") no-repeat;
            width: 13px;
            height: 13px;
            position: absolute;
            top: 4px;
            left: 7px;

        }
    }
    &__text {
        font-size: 1.4rem;
        font-weight: normal;
        padding: 20px 32px 0;
        line-height: 1.8em;
        @include sp {
            padding: 15px 60px 0;
        }
    }
}

// customer-review
.customer-review {
    max-width: 350px;
    @include sp {
        max-width: 100%;
        margin: 80px auto 0;
    }
    &__ttl {
        font-size: 2rem;
        text-align: center;
        background: #fffddc;
        height: 37px;
        line-height: 37px;
        padding: 0 0 0 23px;
        @include sp {
            padding: 10px 0;
            height: auto;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 27px;
            height: 26px;
            background: url($IMG_GLOBAL + "comment_i.svg") no-repeat;
            transform: translate(-10px, 6px);
        }
    }
    &__item {
        padding: 0 78px 0 42px;
        @include sp {
            // padding: 0 78px 0 82px;
            padding: 0 40px;
            margin: 0 auto;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        margin: 43px 0 14px;
    }
    &__image {
        order: -1;
        max-width: 60px;
    }
    &__wrap {
        padding: 0 0 0 19px;
        transform: translateY(-3px);
    }
    &__star {
        max-width: 95px;   
    }
    &__time {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0 0 4px 0;
    }
    &__text {
        font-size: 1.4rem;
    }
}
// btn
.check-btn__product {
    text-align: center;
    &__link {
        @include check_btn(45px,0.14,$main_color,190px,40px,8px,11px);
        font-size: 1.3rem;
        line-height: 40px;
        color: $none_color;
        display: inline-block;

        position: relative;
        overflow: hidden;
        transition: 0.7s ease;
        &::before {
            content: "";
            position: absolute;
            bottom: -80px;
            right: -40px;
            width: 10px;
            height: 10px;
            background: $accent_color;
            border-radius: 50%;
            transition: 0.7s ease;
        }
        span {
            position: relative;
        }
        &:hover {
            color: $none_color;
            &::before {
                width: 400px;
                height: 400px;
                opacity: 1;
            }
            &::after {
                transform: translateX(7px);
            }
        }
    }
    
}

