// ====================
// お問い合わせ
// ====================
.contact {
    background: url($img + "contact_bak.png") no-repeat center center /cover;
    text-align: center;
}
.tel {
    font-size: 1.6rem;
    margin: 27px 0 10px 0;
    &__number {
        font-size: 2.4rem;
        font-family: $font1;
    }
}
.contact-info {
    &__holiday {
        font-size: 1.2rem;
        @include tb {
            font-size: 1.4rem;
            margin: 0 0 3px;
        }
    }
    &__time,&__note {
        font-size: 1.1rem;
        @include tb {
            font-size: 1.4rem;
        }
    }
    &__time {
        margin: 1px 0 4px;
        @include tb {
            margin: 0 0 2px;
        }
    }
}