.grid {
    width: 80%;
    margin: 46px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 18px;
    @include tb {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 18px;
    }
    @include pc {
        max-width: 1000px;
    }
}
.grid__item {
    @include tb {
        max-width: 169px;
    }
}