.news {
    margin: 40px auto 0;
    width: 80%;
    @include tb {
        max-width: 520px;
        margin: 60px auto 30px;
    }
    &__item {
        margin: 0 0 30px 0;
        @include tb {
            margin: 0 0 40px 0;
        }
        a {
            transition: 0.3s ease;
            @include tb {
                display: flex;
                border-bottom: 1px solid $font_color-pale;
                padding-bottom: 4px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
    &__ttl {
        display: inline-block;
        font-size: 1.1rem;
        font-weight: bold;
        border-bottom: 1px solid #8D8D8D;
        @include tb {
            font-size: 1.4rem;
            border: none;
            margin-left: 28px;
        }
    }
    &__date {
        color: #BCBCBC;
        font-size: 1.1rem;
        margin: 0 0 0 10px;
        padding: 1px 0 0 0;
        @include tb {
            font-size: 1.4rem;
            margin-left: 18px;
        }
    }
    &__wrap {
        display: flex;
    }
}
[class^="category--"],[class*=" category--"] {
    font-size: 1.1rem;
    font-weight: bold;
    color: $white;
    display: inline-block;
    padding: 2px 6px;
    @include tb {
        font-size: 1.4rem;
        
    }
}
.category {
    &--news {
        background: $main_color;
    }
    &--dress {
        background: $accent_color2;
    }
    &--place {
        background: $accent_color1;
    }
}