.breadcrumb-list {
    margin: 36px 0 0 20px;
    @include tb {
        width: 80%;
        max-width: 769px;
        margin: 36px auto 0;
    }
    a { 
        color: #1DA1F2; 
        transition: 0.3s ease;
        &:hover {
            opacity: 0.6;
        }
    }
    &__wrapper {
        display: flex;
    }
    &__item {
        &::after {
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px;
            content: "";
            width: 8px;
            height: 11px;
            background: url($img + "solid-arrow_blue.svg") no-repeat center center/contain;
        }
        &:first-child {
            a{
                &::before {
                    display: inline-block;
                    vertical-align: middle;
                    content: "";
                    background: url($img + "home_blue.svg") no-repeat center center/contain;
                    width: 15px;
                    height: 13px;
                    margin-right: 2px;
                    transform: translateY(-1px);
                    @include tb {
                        margin-right: 4px;
                        transform: translateY(-2px);
                    }
                }
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}