.relation {
    max-width: 500px;
    &__ttl {
        font-size: 1.6rem;
        margin-bottom: 34px;
    }
}
.relation-item {
    background: $white;
    box-shadow: 3px 9px 16px rgba(0,0,0,.08);
    margin: 0 0 28px 0;
    @include sp {
        display: flex;
    }
    &__txt {
        line-height: 1.6;
        font-size: 1.6rem;
        @include sp {
            height: 70px;
            overflow: hidden;
        }
    }
    &__wrapper {
        padding: 18px 23px 25px 23px;
        @include sp {
            padding: 25px 23px 25px 23px;
            height: 146px;
            flex: 1 0 55%;
            overflow: hidden;
        }
    }
    &__wrap {
        display: flex;
        margin-bottom: 2px;
        
    }
    &__category {
        font-size: 1.2rem;
        color: $accentColor1;
    }
    &__date {
        font-size: 1.1rem;
        transform: translateY(1px);
        margin-left: 6px;
        font-weight: normal;
    }
    &__img {
        max-width: 328px;
        height: 176px;
        overflow: hidden;
        @include sp {
            flex: 0 0 225px;
            height: 146px;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        &:hover img {
        transform: scale(1.05);
        filter: blur(2px);
        transition: 0.3s;
        }
    }
}