.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 398px;
  @include tb {
    font-size: 1.3rem;
    width: 100%;
    max-width: 550px;
    justify-content: flex-start;
  }
  &__list {
    flex: 0 0 30%;
    margin: 15px 0 0 0;
    padding-left: 10px;
    transition: 0.3s ease;
    &:hover {
        opacity: 0.6;
    }
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin: 0;
    }
    @include tb {
      flex: 0 0 20%;
      margin: 0 0 15px 0;
      // &:last-child {
      //   display: none;
      // }
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin: 0 0 15px 0;
      }
    }
  }
  a {
    display: block;
    text-align: center;

    color: $gray2;
    padding: 5px 11px;
    border-radius: 3px;
    border: 1px solid $gray2;
    @include tb {
      padding: 5px 15px;
    }
  }
}
