
//=======================
// 表示ボタン
//=======================
.menu-view {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  right: 7px;
  @include tb {
    right: 17px;
  }
  
  &__btn {
    display: block;
    width: 32px;
    height: 5px;
    background: #5f5f5f;
    border-radius: 25px;
    position: fixed;
    top: 19px;
    right: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
    @include tb {
      right: 26px;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 5px;
      background: #5f5f5f;
      border-radius: 25px;
      position: absolute;
    }
    &::before {
      top: 9px;
    }
    &::after {
      top: 18px;
    }
  }
  
}
//=======================
// 非表示ボタン
//=======================
.menu-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 17px;
  cursor: pointer;
  @include tb {
    right: 26px;
  }
  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    border-radius: 50px;
    background: $black;
  }
}
.menu-close::before {
  transform: rotate(-45deg);
}
.menu-close::after {
  transform: rotate(45deg);
}


//=======================
// メニュー
//=======================
#menu-handle {
  display: none;
}

.menu-content {
  opacity: 0;
  z-index: -100;
  transition: 0.3s ease;
}

#menu-handle:checked ~ .menu-content {
  opacity: 1;
  z-index: 100;
}

//=======================
// 検索
//=======================
#search-handle {
  display: none;
}
.search-content {
  opacity: 0;
  z-index: -100;
  transition: 0.3s ease;
}
#search-handle:checked ~ .search-content {
  opacity: 1;
  z-index: 100;
}

