.schedule-btn {
    border-radius: 50%;
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
    z-index: 100;
    transition: 0.6s ease;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.37);
    }
    @include pc {
        width: 75px;
        height: 75px;
        top: -110px;
        img {
            width: 50%;
        }
    }
    @include tb {
        position: fixed;
        bottom: 38px;
        right: 18px;
        top: auto;
    }
}
.schedule-btn--view {
    background: $mainColor;
    &:hover {
        background: lighten($mainColor,20%);
    }
    &::before, &::after {
        opacity: 0;
    }
}

.schedule-btn--hide {
    background: #cdcdcd;
    &:hover {
        background: darken(#cdcdcd,20%);
    }
    &::before,&::after {
        opacity: 1;
        content: "";
        display: block;
        border-radius: 40px;
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(45deg);
    }
    &::before {
        width: 40px;
        height: 5px;
    }
    &::after {
        width: 5px;
        height: 40px;
    }
    img {opacity: 0;}
}