@charset "utf-8";
// ================================
// 初期値
// ================================
html *,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: Raleway,"Noto Sans JP",-apple-system, BlinkMacSystemFont, YakuHanJP,
    "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN",
    "游ゴシック Medium", "Yu Gothic Medium", Meiryo, sans-serif;
  font-weight: bold;
  color: $fontColor;
  
  background: url($IMG+"texture_bak_transparent.png"),$bakColor;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1.4rem;
}
p {
  line-height: 2.2em;
}

::first-letter {
  font-feature-settings: "palt" 1;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: $fontColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
:focus {
  outline: 0;
  border: 0;
}



.underLayer-container {
  max-width: 1000px;
  margin: 0 auto;
}

// ================================
// レイアウト共通スタイル
// ================================
.index-btn {
  max-width: 240px;
  background: $assortColor;
  margin: 35px auto 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
  a {
    display: block;
    padding: 6px 23px 6px 27px;
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border: solid 8px transparent;
      border-left: solid 10px $fontColor;
      transform: translateY(2px);
    }
  }
  &__en {
    display: inline-block;
    font-size: 1rem;
    margin-left: 5px;
    transform: translateY(-2px);
  }
}

// ================================
// bothBox
// ================================
.bothBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bothBox-item {
  margin: 40px 0 0 0;
  text-align: center;
  &__ttl {
    font-size: 1.6rem;
    margin: 15px 0 0 0;
  }
  &__desc {
    margin: 20px auto 0;
    max-width: 397px;
  }
}
// ================================
// 見出し(中央)
// ================================
.ttl-center {
       text-align: center;
       font-size: 3.2rem;
}
.ttl-center--en {
       text-align: center;
       font-size: 2.4rem;
       color: $mainColor;
       letter-spacing: 0.06em;
       margin: 200px 0 0 0;
}
// ================================
// 見出し(英語)
// ================================
.ttl-en {
       font-size: 2.4rem;
       color: $mainColor;
       letter-spacing: 0.04em;
}

// ================================
// 左カラム
// ================================
.leftBox {
       display: flex;
       justify-content: space-between;
       max-width: 929px;
       margin: 68px auto 0;
       position: relative;
       &__wrapper {
         flex: 0 1 522px;
         background: $noneColor;
         padding: 45px 70px 40px 50px;
         position: absolute;
         top: 100px;
         right: 0;
         box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.06);
       }
       &__ttl {
              font-size: 3.2rem;
       }
       &__text {
         margin: 8px 0 0 0;
         font-size: 1.4rem;
         font-weight: normal;
         max-width: 410px;
       }
}
// ================================
// 右カラム
// ================================
.rightBox {
       display: flex;
       max-width: 929px;
       margin: 138px auto 0;
       position: relative;
       &__wrapper {
         flex: 0 1 522px;
         background: $noneColor;
         padding: 45px 70px 40px 50px;
         position: absolute;
         top: 100px;
         right: 399px;
         box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.06);
       }
       &__ttl {
              font-size: 3.2rem;
       }
       &__text {
         margin: 8px 0 0 0;
         font-size: 1.4rem;
         font-weight: normal;
         max-width: 410px;
       }
       &__image {
         position: relative;
         z-index: -1;
         margin-left: auto;
       }
}

// ================================
// ヘッダー
// ================================
.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  &-container {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    margin: 0 auto;
  }
  &__logo {
    flex: 0 1 118px;
    order: 1;
  }
}
// グローバルナビ
.g-nav {
  font-size: 1.4rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  a {
    color: $noneColor;
    text-align: center;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.09));
  }
  &__en {
    display: block;
  }
  &:nth-child(2) {
    order: 2;
  }
  &__feature {
    transform: translateX(13px);
    .g-nav__en {
      transform: translateX(-13px);
    }
  }
}

// ================================
// フッター
// ================================
.footer {
  background: url($IMG+"bone_pattern.png");
  height: 228px;
  padding: 40px 0 0 0;
  color: $noneColor;
  font-weight: normal;
  a {
    color: $noneColor;
    font-weight: normal;
  }
  &-container {
    max-width: 844px;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__col1 {
    order: -1;
  }
  &__logo {
    width: 118px;
  }
  &__list {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
  }
  &__item {
    font-size: 1.2rem;
    margin: 5px 0 0 0;
  }
  &__en {
    display: block;
  }
}

// ================================
// トップへ戻るボタン
// ================================
.goTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

// ================================
// 下層ページメインビジュアル
// ================================
.top-visual {
  height: 450px;
  padding: 222px 0 47px;
  &__wrapper {
    max-width: 1000px;
    margin: 0 auto 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 399px;
      right: 140px;
      transform: rotate(-15deg);
      background: url($IMG+"corgi.svg") no-repeat;
      width: 375px;
      height: 98px;
    }
  }
  &__wrap {
    background: $noneColor;
    opacity: 0.8;
    color: $fontColor;
    max-width: 521px;
    height: 179px;
    padding: 52px 0 0 52px;
  }
  &__ttl {
    font-size: 3.2rem;
  }
  &__desc {
    font-size: 1.4rem;
    margin: 8px 0 0 0;
    font-weight: normal;
  }
}
