@charset "utf-8";

// ================================
// カラー
// ================================
$mainColor: #ee712b;
$fontColor: #333333;
$noneColor: #ffffff;
$assortColor: #f1e9e3;
$bakColor: #F7F7F7;


// ================================
// パス)
// ================================
$IMG: "../img/";


// ================================
// 使い回し(フォント)
// ================================
.font32 {
    font-size: 3.2rem;
}
// ================================
// 使い回し(カラー)
// ================================
.orange {
    color: $mainColor;
}
.brown {
    color: #d8b57e;
}
.gray {
    color: #aeaeae;
}
.main_color {
    color: $mainColor;
  }