// import
@import "_variable.scss";
@import "_global.scss";

.top-visual {
    background: url($IMG+"feature_mainvisual.jpg") no-repeat center top / cover;
}

.aboutCorgi {
    &__container {
        display: flex;
        background: $noneColor;
        margin: 130px auto 0;
        border-radius: 0 0 15px 15px;
        box-shadow: 4px 10px 30px rgba(0,0,0,.10);
    }
    &__wrap {
        padding: 75px 0 0 55px;
    }
    &__text {
        margin: 20px 0 0 0;
        max-width: 338px;
        font-weight: normal;
    }
}

.type {
    &__ttl {
        text-align: center;
        margin: 114px 0 20px;
    }
}
.price {
    padding: 0 0 100px 0;
}