/* ----------- ttl ----------- */
@mixin global_ttl($img) {
        // スクロールした時のずれをなくす
        padding-top:75px; 
        margin-top:-75px;
        &__ttl {
        font-size: 6rem;
        color: $accent_color;
        background: url($IMG_ABOUT + $img) no-repeat center center/cover;
        text-align: center;
        padding: 20px 0 24px;
    }
    &__sub-ttl {
        display: block;
        font-size: 2rem;
        letter-spacing: 1px;
        color: $font_color_pale;
        &::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 3px;
            background: $main_color_dark;
            transform: translateX(-13px) translateY(-5px);
        }
        &::after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 3px;
            background: $main_color_dark;
            transform: translateX(13px) translateY(-5px);
        }
    }
}


/* ----------- concept ----------- */
@mixin concept-item($color,$order) {
    display: flex;
    justify-content: space-between;
    &__wrapper {
        flex: 0 1 385px;
    }
    &__ttl {
        font-size: 3.2rem;
        color: $color;
        margin: 0 0 33px 0;
        vertical-align: -7px;
        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 40px;
            background: $color;
            margin: 0 22px 0 0;
        }
    }
    &__desc {
        font-weight: normal;
        line-height: 1.8em;
        &:last-child {
            margin: 10px 0 0;
        }
    }
    &__image {
        flex: 0 1 400px;
        order: $order;
    }
}

/* ----------- btn ----------- */
@mixin about-checkBtn($w,$h,$color,$m:70px) {
    display: block;
    max-width: $w;
    height: $h;
    color: $none_color;
    text-align: center;
    line-height: 45px;
    background: $color;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.14);
    margin: $m auto 0;
    position: relative;
    transition: 0.3s ease;
    &:hover {
        transform: translateY(-2px);
        background: $accent_color;
    }
    &::after {
        content: "";
        display: inline-block;
        background: url($IMG_GLOBAL + "btn_arrow.svg") no-repeat;
        width: 18px;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 16px; 
    }     

}
/* ----------- merit-point ----------- */
@mixin point($order,$m:90px) {
    max-width: 875px;
    margin: $m auto 0;
    display: flex;
    justify-content: space-between;
    &__wrapper {
        flex: 0 1 350px;
    }
    &__ttl {
        font-size: 2.8rem;
        color: $main_color_dark;
        position: relative;
        line-height: 1em;
        margin: 100px 0 0 0;
        padding: 0 0 0 39px;
        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 70px;
            background: $main_color_dark;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__desc {
        line-height: 2em;
        font-weight: normal;
        &::before {
            content: "";
            display: block;
            margin: 25px 0 50px;
            max-width: 370px;
            height: 3px;
            background: #eeefef;
            
        }
    }
    &__point {
        display: block;
        color: $assort_color;
        font-size: 1.8rem;
        &__number {
            font-size: 3.5rem;
        }
    }
    &__image {
        flex: 0 1 450px;
        order: $order;
    }
}

/* ----------- features_item ----------- */
@mixin features_item($color,$img,$size) {
    text-align: center;
    flex: 0 1 277px;
    margin: 221px 0 0 0;
    &__ttl {
        color: $color;
        font-size: 2.6rem;
        margin: 0 0 7px 0;
        &::before {
            content: "";
            display: block;
            max-width: 195px;
            height: 195px;
            border-radius: 50%;
            border: solid 2px $color;
            background: url($IMG_GLOBAL + $img) no-repeat $size;
            margin: 0 auto 40px;
        }
    }
    &__desc {
        line-height: 2em;
        font-weight:normal;
    }
}


/* ----------- about-event__item ----------- */
@mixin about-event_item() {
    &__link {
        display: flex;
        justify-content: space-between;
        max-width: 750px;
        background: $none_color;
        padding: 50px 72px 50px 42px;
        margin: 0 auto;
        transition: 0.7s ease;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            opacity: 0.9;
        }
    }
    &__wrapper {
        flex: 0 1 329px;
        font-weight: normal;
    }
    &__ttl {
        font-size: 2.8rem;
        font-weight: bold;
        color: $main_color_dark;
        vertical-align: -5px;
        margin: 0 0 30px 0;
        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 32px;
            background: $main_color_dark;
            margin: 0 20px 0 0;
        }
    }
    &__desc {
        font-weight: normal;
        line-height: 1.8em;
        padding: 0 0 30px 0;
        margin: 0 0 20px 0;
        border-bottom: solid 2px $font_color;
    }
    &__date {
        padding: 0 0 0 10px;
        &::before {
            content: "";
            display: inline-block;
            width: 19px;
            height: 19px;
            background: url($IMG_GLOBAL + "calendar_i.svg") no-repeat;
            margin: 0 8px 0 0;
            transform: translateY(3px);
        }   
    }
    &__address {
        font-size: 1.4rem;
        padding: 5px 0 0 10px;
        &::before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 20px;
            background: url($IMG_GLOBAL + "map_point_i.svg") no-repeat;
            margin: 0 8px 0 0;
            transform: translateY(3px);
        }
    }
    &__image {
        flex: 0 1 271px;
        order: -1;
    }
}

/* ----------- about-event-btn ----------- */
@mixin about-event-btn($rotate,$side,$shadow) {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45%;
    #{$side}: 9%;
    z-index: 1;
    transform: rotate($rotate);
    box-shadow: $shadow 5px rgba(0,0,0,0.3);
    border-radius: 50%;
    background: url($IMG_GLOBAL + "arrow_square.svg") no-repeat center center/15px 26px $accent_color;
    cursor: pointer;
    transition: 0.7s ease;
    &:hover {
        opacity: 0.9;
        box-shadow: $shadow 15px rgba(0,0,0,0.5);
    }
}